body{
	background: #f5f5f5;
	font-family: "微软雅黑";
}

*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{text-decoration : none} 
a:hover{text-decoration:none}

.center{
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
}

.left{
	float: left;
	width: 230px;
	background:#fff;	
	text-align: center;
	letter-spacing:2px;
}
.subNav{
	cursor:pointer;
	font-size:20px;
	color:#333;
	margin-bottom: 20px;
	margin-top: 32px;
	background:url(../img/jiantou120171013.png) no-repeat;
	background-position:30px 5px;
}
.currentDt{
	background-image:url(../img/jiantou20171013.png);
	background-position:30px 8px;
}
.navContent{
	display:;
}
.navContent li{
	width: 230px;
	margin-bottom: 24px;
	padding: 9px 0;
	font-size: 20px;
	color: #999;
}

.navContent li:hover{
	border-left:2px solid #e4476f;
	background: #f5f5f5;
	color: #E4476F;
}

.border{
	border-left:2px solid #e4476f;
	background: #f5f5f5;
	color: #E4476F;
	
}

.right{
	float: right;
	width: 929px;
	background:#fff;
	padding-bottom: 78px;
}

.color_999{
	color: #999;
}

.banner{
	width: 911px;
	height: 224px;
	margin: 0 auto;
	margin-top: 9px;
	background:url(../img/beian_banner20171013.png)no-repeat;
}

.title{
	position: relative;
	width: 185px;
	height:45px;
	left: 680px;
	top:150px;
	background: url(../img/beian20171013.png)no-repeat;
	background-size:30px 35px;
	background-position:0 8px ;
	font-size: 36px;
	color: #109af3;
	padding-left:40px;
	letter-spacing:2px;
}

.table{
	width: 726px;
	margin-top: 80px;
	margin-left: 95px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	text-align: center;
	font-size: 14px;
}

.table table tr td{
	border-bottom:  1px solid #000;
	border-right: 1px solid #000;
	padding-top: 24px;
    padding-bottom:20px;
    color: #333;
}

.color_bule{
	color: #1474de;
}
