/*.head-news-hd{ height: 133px;}*/
.head-nav-hd{width: 100%; height: 28px;  border-bottom: 1px solid #eeeeee; background: #f8fbff; position: relative; z-index: 10}
.head-logNav-hd.scrolled{background:rgba(255,255,255,.8)}
.head-w1144-hd{min-width: 1144px; max-width: 1200px; margin: 0 auto;}
.head-w1200-hd{width: 1200px; margin: 0 auto;}
.head-wel-hd{ display: inline-block; position: relative; top: -3px; margin-right: 17px;}
.head-text1-hd{ font-size: 12px;}
.head-text1-hd a{ display: inline-block; margin: 0 2px; }
.head-text1-hd a.head-link1-hd{display: inline-block; position: relative; top: 3px;width: 22px; height: 22px;  background:url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_icons_20160325.png) -5px 0; }
.head-text1-hd a.head-link1-hd:hover{  background:url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_icons_20160325.png) -5px -28px;}
.head-text1-hd a.head-link1-hd span{ display: none; position: absolute; top: 22px; left: -77px; line-height: 20px; text-align: center; font-size: 12px; color: #666; background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_pp1_20160325.png) no-repeat; width: 168px; padding-top:22px; height:56px; }

.head-text1-hd a.head-link2-hd{display: inline-block;position: relative; top: 3px;width: 22px; height: 22px; background:url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_icons_20160325.png) -29px 0;  }
.head-text1-hd a.head-link2-hd:hover{  background:url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_icons_20160325.png) -30px -28px;}
.head-text1-hd a.head-link2-hd em{ display: inline-block; padding:10px 0  5px 0;}
.head-text1-hd a.head-link2-hd span{ display: none; position: absolute; top: 22px; left: -73px; text-align: center; font-size: 12px; color: #666; background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_pp2_20160325.png) no-repeat; width: 158px; padding-top: 20px; height:163px; }
.head-text1-hd a:hover span{ display: block;}

.head-text2-hd,.head-text1-hd{ color: #666666;}
.head-text2-hd{ padding-top: 6px; font-size: 12px;}
.head-text3-hd a{display: inline-block;  color: #666666; text-decoration: none;  border-left: 1px solid #dcdcdc; padding: 0 21px; height: 28px; line-height: 28px; font-size: 12px;}
.head-text3-hd a.head-link4-hd{padding-left:12px; padding-right: 0}
.head-text3-hd a.head-link4-hd i{ display: inline-block;position: relative; top: 1px; background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_icons_20160325.png) 0 -61px; width: 11px; height: 13px; margin-right: 5px;}
.head-text3-hd a.head-link4-hd em{ display: inline-block; background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_icons_20160325.png) -16px -62px; width: 37px; height: 15px;}
.head-text3-hd a.head-link3-hd{ margin-left:12px; position: relative;}

.head-text3-hd a.head-link3-hd span{ display: none; position: absolute; top: 26px; left: -5px; line-height: 18px; background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_pp3_20160325.png) no-repeat; width: 182px; height: 329px;  text-align: center;}
.head-text3-hd a.head-link3-hd span p{ display: inline-block; width: 100%; color: #666666; font-size: 14px;}
.head-text3-hd a.head-link3-hd span p.head-textp1-hd{ padding: 23px 0 7px 0}
.head-text3-hd a.head-link3-hd span p.head-textp2-hd{ padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; width: 172px; margin:0 auto; }
.head-text3-hd a.head-link3-hd span p.head-textp3-hd{ padding: 20px 0 8px 0}
.head-text3-hd a.login-entry:hover{ color: #f44975}

.head-text3-hd a.head-link3-hd:hover span{ display: block; }
.head-logNav-hd{ width: 100%; background: #fff;  border-bottom: 1px solid #e5e5e5; height: 58px; position: relative; z-index: 8}
.head-navs-hd { padding-top: 16px;}
.head-navs-hd ul li{ float: left;}
.head-navs-hd ul li a{ display: inline-block; color: #666; font-size: 16px;  padding:0 10px 9px 10px; margin: 0 13px;}
.head-logo-hd { margin:10px 180px 0 0; }
.head-money-hd{ margin: 13px 10px 0 0; *margin: 19px 40px 0 0;}
.head-money-hd a{ color: #666666;}

.head-money-hd a i{ display: inline-block; background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_icons_20160325.png) 0 -80px; width: 20px; height: 20px; margin-right: 15px; position: relative; top: 5px; *top: 2px; }
.head-money-hd a:hover i{background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/index_icons_20160325.png) -20px -80px; }

/*20160411*/
.log-reg{ padding: 13px 20px 0 0;}
.log-reg a{ display: inline-block; margin:0 1px; background: #fff; border-radius: 6px; border: 1px solid #f44975; color: #f44975; height: 28px; line-height: 28px; width: 80px; text-align: center;}



/*ÐÂ°æµ¯´°  */
.popup { z-index: 1001; position: fixed; top: 50%; left: 50%; min-width: 480px; *width: 480px; margin-left: -240px; min-height: 228px; margin-top: -114px; border-radius: 5px; border-top: 3px solid #f44975; background: #f5f5f5; }
.popup-p { font-size: 24px; color: #333333; text-align: center; padding: 0 40px; padding-top: 55px; }
.popup-btn { text-align: center; padding-top: 46px; }
.popup-btn a { display: inline-block; height: 45px; line-height: 45px; text-align: center; font-size: 18px; color: #fff; width: 30%; border-radius: 5px; background: #f44975; margin: 0 20px; }
.popup-btn a.popup-gay { background: #ccc; }
.shadow3 { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; background-color: #000000; opacity: .8; filter: alpha(opacity=80); z-index: 999; }
.popup-btn span.plink { position: relative; top: 8px; color: #666; cursor: pointer; }
