@charset "UTF-8";
.w908{ border-top:2px solid #fa81a0;}
.news-year span{ color: #f44975;}
.news-now-btn a{ background: #f44975;}
.partnerDian a.active{background: #f44975; border: 1px solid #f44975}
.ftkDl a:hover{ color: #f44975}
.over-time-border i{ color: #f44975;}
.n-h-sy1 span{ color: #f44975}
.progress-finished{ background-color: #f44975;}
.news-quan a.active{ background: #f44975;}