.uniformColor{ color: #f44975}
.head-text3-hd a.uniformColor:hover{ background: #f44975; color: #fff}
.head-text3-hd a.head-link3-hd:hover{ background: #f44975; color: #ffffff;}
.head-text3-hd a.head-link4-hd:hover{ background: none; color: #f44975;}
.head-text3-hd a.head-link5-hd:hover{ background: none; color: #f44975;}
.head-money-hd a:hover{ color: #f44975}
.head-navs-hd ul li.head-navCurr-hd a,.head-navs-hd ul li a:hover{ border-bottom: 2px solid #f44975;}
.log-reg a.atvCurr{ background: #f44975; color: #fff;}


/*  关于我们   2016-04-28*/
.aboutUs .au-left-menu{border-top: 2px solid #f44975;}
.aboutUs .menu-title{color: #f44975;}
.aboutUs .au-left-menu a{color: #333333;}
.aboutUs .au-left-menu a:hover,.aboutUs .au-left-menu a.active{color:#FFFFFF; background-color:#f44975;}
.aboutUs .au-title h3{color:#FFFFFF; background-color:#f44975;}
.aboutUs .au-big-box01 p a{color:#f44975;}
.aboutUs .leader-name span{color: #FFFFFF; background-color: #7dbdd0;}
.aboutUs .jobs-name a.active{color:#f44975; border-left: 2px solid #f44975; border-right:1px solid #FFFFFF;}
.aboutUs .jobs-name a.active:hover{background:#FFFFFF;}
.aboutUs .star-pro-list .col03 a.btn-a1{color: #FFFFFF; background-color: #f44975;}
.aboutUs .star-pro-list .col03 a.btn-a1:hover{background-color: #de3c66;}
.aboutUs .star-pro-list .col03 a.btn-a2{color: #999999; background-color: #FFFFFF;}
.aboutUs .star-pro-list .col03 a.btn-a2:hover{border:1px solid #f44975; color: #f44975;}
.aboutUs .col02 p strong{color: #f44975;}
.aboutUs .col02 p span{color: #f44975;}


/*  产品列表  */
.product-nav-box a {
  color: #FFFFFF;
}
.product-nav-box a:hover, .product-nav-box a.active {
  color: #f44975;
  background-color: #FFFFFF;
}

.opera-btns a {
  color: #FFFFFF;
}
.opera-btns .regis-btn {
  border: 1px solid #FFFFFF;
}

.personal-btn a {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.fixed-nav-box a {
  color: #333333;
}
.fixed-nav-box a:hover, .fixed-nav-box a.active {
  color: #ffffff;
  background-color: #f44975;
}

.user-operation {
  border-left: 1px solid #FFFFFF;
}

.fixed-user-operation {
  border-left: 1px solid #333333;
}

.fixed-opera-btns a {
  color: #333333;
}
.fixed-opera-btns .fixed-regis-btn {
  color: #f44975;
  border: 1px solid #f44975;
}

.user-center-new > a {
  color: #f44975;
}

.popup-entry a {
  color: #999999;
}
.popup-entry a:hover {
  color: #f44975;
}

.pro-menu-wrap ul li .menu-bg span {
  color: #FFFFFF;
  background-color: #f44975;
}

.pro-type-intro .intro-info .info-top h4 {
  color: #111111;
}

.pro-type-intro .total-info span {
  color: #999999;
}

.pro-type-intro .product-name {
  color: #f44975;
}

.pro-main-box .pro-left-box .sorting-way a:hover, .pro-main-box .pro-left-box .sorting-way a.active {
  color: #FFFFFF;
  background: #f44975;
}

.pro-list li {
  border: 1px solid #dfdfdf;
}

.pro-list li:hover {
  border: 1px solid #f44975;
}

.pro-box-top h4 {
  color: #111111;
}

.pro-box-top > span {
  color: #999999;
}

.coupon-tips span {
  color: #eea738;
  border: 1px solid #eea738;
}

.column01 p {
  color: #f44975;
}

.column01 span {
  color: #666666;
}

.column02 p {
  color: #f44975;
}

.column02 span {
  color: #666666;
}

.column03 p {
  color: #111111;
}

.column03 span {
  color: #666666;
}

.column04 p {
  color: #999999;
}

.pro-buy-now {
  background-color: #f44975;
  color: #FFFFFF;
}

.pro-buy-over {
  background-color: #CCCCCC;
  color: #FFFFFF;
}

.progress-wrap span {
  color: #f44975;
}

.progress-finished {
  background-color: #f44975;
}

.paging-btns {
  color: #999999;
}

.paging-btns a {
  background: #f5f5f5;
  color: #666666;
  border: 1px solid #CCCCCC;
}

.paging-btns a:hover {
  border: 1px solid #999999;
}

.paging-btns a.selected, a.selected:hover {
  background: #f44975;
  color: #ffffff;
  border: 1px solid #f44975;
}

.yield-box {
  color: #f44975;
}

.cycle span {
  color: #999999;
}

.cycle a {
  color: #eea738;
}

.recommend-buy-now {
  background: #f44975;
  color: #FFFFFF;
}

.recommend-buy-over {
  background: #CCCCCC;
  color: #FFFFFF;
}

.prominent-box table th {
  color: #333333;
}

.prominent-box table td {
  color: #666666;
}

.prominent-box table td.red {
  color: #f44975;
}

.prominent-box table td span {
  color: #FFFFFF;
  background-color: #999999;
}

.prominent-box table td span.red {
  background-color: #f44975;
}

.notice-box table th {
  color: #333333;
}

.notice-box table td {
  color: #666666;
}

/* 产品详情  */
.pro-details .pro-info h3 {
  color: #FFFFFF;
}

.pro-details .pro-info > p {
  color: #FFFFFF;
}

.pro-details .sm-box01 strong {
  color: #f44975;
}

.pro-details .sm-box01 p {
  color: #666666;
}

.pro-details .details-progress span {
  color: #f44975;
}

.pro-details .d-progress {
  background-color: #f44975;
}

.pro-details .big-box01 h4 {
  color: #111111;
}

.pro-details .remain-money {
  color: #999999;
}

.pro-details .countdown {
  color: #666666;
}

.pro-details .sm-box03 p {
  color: #666666;
  border: 1px solid #00a987;
}

.pro-details .d-sm-box01 h3 {
  color: #f44975;
  border: 1px solid #f44975;
}

.pro-details .d-sm-box01 p {
  color: #666666;
}

.pro-details .d-big-box01 .d-text p {
  color: #666666;
}

.pro-details .d-big-box01 .d-text a {
  color: #00a987;
}

.pro-details .buy-box {
  border-top: 3px solid #f44975;
}

.pro-details .usable-money p a {
  color: #f44975;
}

.pro-details .earnings span {
  color: #f44975;
}

.pro-details .protocol a {
  color: #00a987;
}

.pro-details .d-btn {
  color: #FFFFFF;
  background-color: #f44975;
}

.pro-details .page-icon a {
  background-color: #999999;
}

.pro-details .page-icon a:hover, .pro-details .page-icon a.active {
  background-color: #f44975;
}

.pro-details .d-big-box01 .tit-box h4 {
  border-bottom: 2px solid #f44975;
}

.pro-details .buy-popup {
  border-top: 4px solid #f44975;
}

.pro-details .buy-info p strong.tz {
  color: #f44975;
}

.pro-details .buy-info p strong.sy {
  color: #00a987;
}

.pro-details .buy-btn {
  background-color: #f44975;
}

.pro-details .forgetPass {
  color: #f44975;
}

.float-menu-list a {
  color: #333333;
  border: 1px solid #666666;
}

.float-menu-list a:hover, .float-menu-list a.active {
  color: #f44975;
  border: 1px solid #f44975;
}

/*  还款中  */
.sold-out .pro-info h3 {
  color: #FFFFFF;
}

.sold-out .pro-info > p {
  color: #FFFFFF;
}

.sold-out .sm-box01 strong {
  color: #f44975;
}

.sold-out .sm-box01 p {
  color: #666666;
}

.sold-out .details-progress span {
  color: #f44975;
}

.sold-out .d-progress {
  background-color: #f44975;
}

.sold-out .c-sm-box01 h3 {
  color: #f44975;
  border: 1px solid #f44975;
}

.sold-out .c-sm-box01 p {
  color: #666666;
}

.sold-out .paging02 a:hover, .sold-out .paging02 a.active {
  color: #FFFFFF;
  background-color: #f44975;
}

.sold-out .p-top .p-l p a {
  color: #f44975;
}

.sold-out .p-r-text strong {
  color: #f44975;
}

.sold-out .rp-r-text a {
  background-color: #f44975;
}

.sold-out .earnings p {
  color: #f44975;
}

.sold-out .earnings p span {
  background-color: #f44975;
  color: #FFFFFF;
}

.sold-out .tb-box td.best span {
  background-color: #f44975;
  color: #FFFFFF;
}




.notice-box table td a:hover,.tb-hkgg td a:hover{color:#f44975;}

/*  特权标   2016-06-07*/
.tqb-txt4-my span{ color: #f44975}
.tqb-txt5-my span{ color: #f44975}
.tqb-txt6-my li span{color: #f44975;}
.tqj-text-ico span{ color: #f44975}

/*  帮助中心   2016-06-07*/
.help-no-que a{ color: #f44975}
.help-ul-a li:hover{ color: #f44975;}
.f-d-reg a{ background: #f44975}
.help-server li a:hover{ color: #f44975}

/*  产品详情-固定菜单   2016-06-13*/
.product-css-conc1 .p-b-buyr a{color: #f44975;}
.product-css-conc2 .p-b-buyr a{color: #f44975;}
.product-css-conc3 .p-b-buyr a{color: #f44975;}
.product-css-conc4 .p-b-buyr a{color: #f44975;}
.product-css-conc5 .p-b-buyr a{color: #f44975;}

/*充值中心*/
.rech-cent1{ background: #fa81a0;}
.rech-cent-btn input{ background: #f44975; }
.rech-cent-btn a{ background: #f44975; }
.rech-cent-bgr ul li span em{color: #f44975}
.rech-title-p span{  color: #f44975;}
.wsts-rech a,.wsts-rech span{ color: #f44975}
.rech-cent-btn2 input{ background: #f44975; }

/*绑卡*/
.bang-rech1{ background: #fa81a0;}
.ts-text-rech{ color: #f44975}
.tishi-rech ul li span{ color: #f44975}
.tag-tt2-rech .my-tips-rech a{ color: #f44975}
.tag-tt2-rech .my-tips-rech b.b-rech-tt{ color: #f44975;}