* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC"
}

ul li {
	list-style: none;
}

span {
	display: inline-block;
}

i {
	font-style: normal;
	display: inline-block;
}

a {
	text-decoration: none;
}

.text_indent {
	text-indent: 2em;
}


/*字体大小 start*/

.font_12 {
	font-size: 12px;
}

.font_13 {
	font-size: 13px;
}

.font_14 {
	font-size: 14px;
}

.font_15 {
	font-size: 15px;
}

.font_16 {
	font-size: 16px;
}

.font_18 {
	font-size: 18px;
}

.font_20 {
	font-size: 20px;
}

.font_24 {
	font-size: 24px;
}

.font_26 {
	font-size: 26px;
}

.font_30 {
	font-size: 30px;
}

.font_32 {
	font-size: 32px;
}

.font_40 {
	font-size: 40px;
}

.font_48 {
	font-size: 48px;
}

.font_50 {
	font-size: 50px;
}


/*字体大小 end*/


/*字体颜色 start*/

.color_000 {
	color: #000;
}

.color_fff {
	color: #fff;
}

.color_666 {
	color: #666;
}

.color_999 {
	color: #999;
}

.color_f44975 {
	color: #f44975;
}

.color_1c7ebe {
	color: #1c7ebe;
}


/*字体颜色 end*/


/*背景颜色 start*/

.bgColor_fff {
	background-color: #fff;
}

.bgColor_f44975 {
	background-color: #f44975;
}


/*背景颜色 end*/

.relative {
	position: relative;
}

.w_1200 {
	width: 1200px;
}

.margin_center {
	margin: 0 auto;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.overflow {
	overflow: hidden;
}

.inline_block {
	display: inline-block;
}

.none {
	display: none;
}

.text_center {
	text-align: center;
}

.line_height {
	line-height: 25px;
}

.letter_space {
	letter-spacing: 1px;
}

.under_line {
	height: 1px;
	background-color: #eee;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.clear {
	clear: both;
}

[btn-triggle="expandUp"] {
	position: relative;
}

[btn-triggle="expandUp"]:after {
	content: '';
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	background: rgba(51, 51, 51, 0.3);
}

[btn-triggle="expandUp"]:hover:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

[btn-triggle="expandWidth"] {
	position: relative;
}

[btn-triggle="expandWidth"]:after {
	content: '';
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	background: rgba(51, 51, 51, 0.1);
}

[btn-triggle="expandWidth"]:hover:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#retrievePassword {}

#retrievePassword .one-page,
#modifyLoginPassword .one-page {
	width: 100%;
	/*height: 682px;*/
	min-height: 85vh;
	background-color: #85cfea;
	position: relative;
}

#modifyPhoneNumber .one-page,
#modifyPhoneNumber-two .one-page,
#modifyPhoneNumber-three .one-page,
#bankCardBinding .one-page {
	width: 100%;
	height: 780px;
	background-color: #85cfea;
	position: relative;
}

#retrievePassword .two-page,
#modifyLoginPassword .two-page,
#modifyPhoneNumber .two-page,
#modifyPhoneNumber-two .two-page,
#modifyPhoneNumber-three .two-page,
#bankCardBinding .two-page {
	width: 100%;
	height: 128px;
}

#retrievePassword .line,
#modifyLoginPassword .line,
#modifyPhoneNumber .line,
#modifyPhoneNumber-two .line,
#modifyPhoneNumber-three .line,
#modifyPhoneNumber-three .line {
	width: 1px;
	height: 100%;
	float: left;
	margin-left: 50px;
	background-color: #ddd;
}

.house {
	width: 100%;
	min-width: 1200px;
	height: 268px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/house20170317.png) no-repeat center center;
}

.detail-link {
	display: inline-block;
	padding: 50px 0 8px;
}

.detail-link li {
	float: left;
	padding: 0 2px;
}

.detail-link li a {
	color: #999;
}

.set-box {
	width: 880px;
	height: 536px;
	box-shadow: 0 0 20px #5d6f75;
	margin: 90px auto;
}

.set-box-phone {
	width: 880px;
	height: 630px;
	box-shadow: 0 0 20px #5d6f75;
	margin-top: 56px;
}

.common-psd {
	height: 100%;
}

.pre-80 {
	width: 80%;
}

.pre-90 {
	width: 90%;
}

input {
	outline: none;
	border: 0;
}

.user-tel,
.user-id {
	width: 370px;
	height: 50px;
	position: relative;
	border: 1px solid #ddd;
}

.user-tel input,
.user-id input,
.user-vcode input,
.user-sms input {
	float: left;
	height: 100%;
}

.user-tel input,
.user-id input {
	width: 290px;
	padding-left: 22px;
}

.user-vcode input,
.user-sms input {
	width: 90%;
	margin-left: 12px;
}

.user-vcode,
.user-sms {
	width: 246px;
	height: 50px;
	position: relative;
	border: 1px solid #ddd;
}

.user-tel em,
.user-id em,
.user-vcode em,
.user-sms em {
	position: absolute;
	left: 75px;
	top: 8px;
	font: normal 18px/36px "Microsoft YaHei";
	color: #ddd;
}

.user-vcode em,
.user-sms em {
	left: 15px;
}

.user-tel span {
	display: block;
	width: 24px;
	height: 32px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 10px 0 0 10px;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/lock20170317.png) no-repeat -22px 0;
}

.user-id span {
	display: block;
	width: 30px;
	height: 19px;
	position: absolute;
	top: 15px;
	left: 10px;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/lock20170317.png) no-repeat -50px 0;
}

.vcodeImg {
	width: 108px;
	height: 51px;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/vcode20170317.png) no-repeat;
	margin-left: 12px;
}

.login-sure {
	display: block;
	width: 370px;
	height: 57px;
	background-color: #f44975;
	font: normal 24px/57px "Microsoft YaHei";
	color: #FFFFFF;
	text-align: center;
	margin-top: 8px;
	border-radius: 5px;
	margin: 18px 0 45px;
}

.color_b5b5b5 {
	color: #b5b5b5;
}

.color_85cfea {
	color: #85cfea;
}

.hintImg {
	width: 14px;
	height: 14px;
	float: left;
	background-color: #51afff;
	border-radius: 7px;
	color: #fff;
	font-size: 10px;
}

.getSm {
	width: 118px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border: 1px solid #F44975;
	border-radius: 3px;
	color: #F44975;
	margin: 5px 0 0 10px;
	cursor: pointer;
}

.mar-top {
	margin-bottom: 8px;
}

.error-hint,
.error-prompt {
	border: 1px solid #fbc930;
	background-color: #fdf2b5;
	border-radius: 5px;
	color: #b98f10;
	font-size: 14px;
}

.error-hint {
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
}

.error-prompt {
	position: absolute;
	bottom: 55px;
	left: 350px;
	padding: 3px 8px;
}

.backHome {
	position: absolute;
	top: 445px;
	right: 430px;
}

.backHome:hover {
	text-decoration: underline;
}


/*修改登录密码*/

.w-115 {
	width: 115px;
	text-align: right;
	padding-right: 10px;
}

.login-sure-left {
	margin-left: 125px;
}

.user-lock .local-tip {
	width: 20px;
	height: 28px;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/lock20170317.png) no-repeat 0 0;
	top: 0;
	left: 0;
	margin: 12px 0 0 15px;
}

.deleteIcon {}

.getVcode {
	width: 113px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	margin-left: 10px;
	cursor: pointer;
}

.mar-bottom15 {
	margin-bottom: 15px;
}



.successfulCase .successIcon,
.failCase .deleteIcon {
	width: 17px;
	height: 15px;
	background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/succFaiIcon20170322.png) no-repeat;
	margin: 15px 0 0 15px;
	float: left;
}

.successfulCase .successIcon {
	background-position: 0 0;
}

.failCase .deleteIcon {
	background-position: -17px 0;
	cursor: pointer;
}

.strength {
	border-radius: 5px;
	background-color: #d2d7d9;
	padding: 1px 12px;
}

.strength-weak .strength-green:first-child {
	background-color: #85cfea;
}

.strength-in .strength-green:nth-child(2),
.strength-in .strength-green:first-child {
	background-color: #85cfea;
}

.strength-high .strength-green {
	background-color: #85cfea;
}


/*修改交易密码*/

.progress-bar {
	width: 254px;
	height: 5px;
	background-color: #dfdfdf;
	margin: 0 5px 0 0;
}

.verifyIdentity {
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -10px;
}

.circle-middle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #dfdfdf;
	color: #fff;
	text-align: center;
	line-height: 20px;
}

.progress-bar-red {
	background-color: #F44975;
}

.progress-bar-red .circle-middle {
	background-color: #F44975;
}

.local-id {
	display: block;
	width: 30px;
	height: 19px;
	position: absolute;
	top: 15px;
	left: 10px;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/lock20170317.png) no-repeat -50px 0;
}

.color_3395b9 {
	color: #3395b9;
}

.h-40 {
	height: 40px;
	line-height: 40px;
}

.user-sms-phone {
	width: 150px;
}

[underline="spotlight"] {
	position: absolute;
	top: 45px;
	left: 83%;
	line-height: 12px;
}

[underline="spotlight"] .crystal {
	width: 0;
	height: 2px;
	background-color: #85cfea;
	-webkit-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.46, 0.97);
	-moz-transition: all 0.3s cubic-bezier(0.17, 0.67, 0.46, 0.97);
	transition: all 0.3s cubic-bezier(0.17, 0.67, 0.46, 0.97);
}

[underline="spotlight"]:hover .crystal {
	width: 100%;
}

[underline="spotlight"]:hover {
	color: #85cfea;
}


/*bank start*/

.bankCardIcon {
	width: 29px;
	height: 29px;
	background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/bankOfCommunications20170324.jpg) no-repeat;
	margin-top: 5px;
}

.bottom-hint {
	width: 100%;
	height: 70px;
	line-height: 70px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fcf9f9;
}

.warnIcon {
	width: 14px;
	height: 14px;
	background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/hint20170324.png) no-repeat;
	margin: 30px 10px 0 40px;
}


/*bank end*/


/*邮箱验证 start*/

.h-106 {
	width: 100%;
	height: 106px;
	line-height: 22px;
	box-sizing: border-box;
	padding-left: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fcf9f9;
}

.user-sms-phone-two {
	width: 245px;
}

.red-border{
	border: 1px solid #F44975;
	box-shadow: 0 0 3px #f384a0;	
	
}




