	* {
			margin: 0;
			padding: 0;
			font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC";
			max-height: 999999px;
		}
		
		html * {
			outline: none;
			-webkit-text-size-adjust: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			/*-webkit-tap-highlight-color: transparent;*/
		}
		
		ul li {
			list-style: none;
		}
		
		span {
			display: inline-block;
		}
		
		em {
			font-style: normal;
		}
		
		i {
			font-style: normal;
			display: inline-block;
		}
		
		a {
			text-decoration: none;
		}
		
		a:hover {
			text-decoration: none;
		}
		
		:focus {
			outline: 0
		}
		
		button,
		input,
		select,
		textarea {
			font-size: 100%;
			/*vertical-align: middle;*/
			outline: 0
		}
		
		input:focus:-moz-placeholder,
		input:focus::-webkit-input-placeholder {
			color: transparent
		}
		
		button::-moz-focus-inner,
		input::-moz-focus-inner {
			padding: 0;
			border: 0
		}
		
		input,
		button,
		textarea {
			-webkit-appearance: none;
		}
		
		button,
		input {
			border: 0;
			outline: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			-webkit-tap-highlight-color: transparent;
		}
		
		textarea {
			resize: none
		}
		
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		input[type="text"],
		input[type="password"],
		{
			-webkit-appearance: none;
		}
		
		textarea {
			-webkit-appearance: none;
		}
			/*字体大小 start*/
			
			.font_12 {
				font-size: 0.3rem;
			}
			
			.font_13 {
				font-size: 0.325rem;
			}
			
			.font_14 {
				font-size: 0.35rem;
			}
			
			.font_15 {
				font-size: 0.375rem;
			}
			
			.font_16 {
				font-size: 0.4rem;
			}
			
			.font_18 {
				font-size: 0.45rem;
			}
			
			.font_20 {
				font-size: 0.5rem;
			}
			
			.font_22 {
				font-size: 0.55rem;
			}
			
			.font_24 {
				font-size: 0.6rem;
			}
			
			.font_26 {
				font-size: 0.65rem;
			}
			
			.font_28 {
				font-size: 0.7rem;
			}
			
			.font_30 {
				font-size: 0.75rem;
			}
			
			.font_32 {
				font-size: 0.8rem;
			}
			
			.font_36 {
				font-size: 0.9rem;
			}
			
			.font_40 {
				font-size: 1rem;
			}
			
			.font_48 {
				font-size: 1.2rem;
			}
			
			.font_50 {
				font-size: 1.25rem;
			}
			/*字体大小 end*/
			/*字体颜色 start*/
			
			.color_000 {
				color: #000;
			}
			
			.color_333 {
				color: #333;
			}
			
			.color_666 {
				color: #666;
			}
			
			.color_999 {
				color: #999;
			}
			
			.color_fff {
				color: #fff;
			}
			
			.color_f44975 {
				color: #f44975;
			}
			
			.color_1c7ebe {
				color: #1c7ebe;
			}			
			.bgColor_fff {
				background-color: #fff;
			}
			
			.bgColor_f44975 {
				background-color: #f44975;
			}
						
			.relative {
				position: relative;
			}
			
			.margin_center {
				margin: 0 auto;
			}	
			.content_center{
				justify-content: center;
			}
			.content_left{
				justify-content: flex-start;
			}
			.content_right{
				justify-content: flex-end;
			}
			.vertical_center {
				display: flex;
				display: -webkit-flex;				
				align-items: center;
			}
			
			.all_center{
				display: flex;
				display: -webkit-flex;	
				justify-content: center;			
				align-items: center;
			}
			.float_left {
				float: left;
			}
			
			.float_right {
				float: right;
			}
			
			.pointer {
				cursor: pointer;
			}
			
			.bold {
				font-weight: bold;
			}
			
			.overflow {
				overflow: hidden;
			}
			
			.inline_block {
				display: inline-block;
			}
			
			.text_center {
				text-align: center;
			}
			
			.line_height {
				line-height: 0.6rem;
			}
			
			.letter_space {
				letter-spacing: 0.025rem;
			}
			
			.under_line {
				height: 1px;
				background-color: #f5f5f5;
			}
			
			.clearfloat:after {
				display: block;
				clear: both;
				content: "";
				visibility: hidden;
				height: 0
			}
			
			.clearfloat {
				zoom: 1
			}
			
			.clear {
				clear: both;
			}
			
			.none {
				display: none;
			}
			._block{
				display: block;
			}
			input::-webkit-input-placeholder,
			textarea::-webkit-input-placeholder {
				color: #999;
			}
			
			input:-moz-placeholder,
			textarea:-moz-placeholder {
				color: #999;
			}
			
			input::-moz-placeholder,
			textarea::-moz-placeholder {
				color: #999;
			}
			
			input:-ms-input-placeholder,
			textarea:-ms-input-placeholder {
				color: #999;
			}
				.bgColor_02164b {
				background-color: #02164b;
			}
			
			header {
				width: 100%;
				height: 10.875rem;
				background: url(https://images-wap.newnewbank.com/wap-headBg20170830.jpg) no-repeat;
				background-size: cover;
			}
			
			.two-page {
				width: 100%;
				height: 10rem;
				background-image: linear-gradient(to top, #02164b 0%, #004bb1 100%);
				background-image: -webkit-linear-gradient(to top, #02164b 0%, #004bb1 100%);
			}
			
			.circleBox {
				width: 100%;
				height: 22.275rem;
				background: url(https://images-wap.newnewbank.com/wap-adCircle20170830.png) no-repeat;
				background-size: cover;
				margin-top: -12.5rem;
			}
			
			ul li {
				float: left;
				margin-left: 0.2rem;
			}
			
			.circle {
				width: 1.15rem;
				height: 1.15rem;
				border: 1px solid #fff;
				border-radius: 100%;
			}
			
			.color_fdeded {
				color: #fdeded;
			}
			
			.wpre-80 {
				width: 80%;
			}
			
			.mar-right-10 {
				margin-right: 0.25rem;
			}
			
			footer {
				width: 100%;
				height: 1.825rem;
				background: url(https://images-wap.newnewbank.com/wap-bottomBg20170830.jpg) no-repeat;
				background-size: cover;
			}
			.getBtn {
				width: 2.5rem;
				height: 0.9rem;
				line-height: 0.9rem;
				font-size: 0.5rem;
				text-align: center;
				border-radius: 0.45rem;
			}
			
			.hasReceived .active {
				background-color: #f57e3c;
				color: #fff;
			}
			
			.receivedBtn .active {
				background-color: #ffdf08;
				color: #f24f49;
				cursor: pointer;
			}
			
			.receivedBtn2 .active {
				background-color: #d63649;
				color: #ff8594;
			}
			
			.small-box {
				float: left;
				/*width: 4.5rem;
				height: 4.125rem;
				margin-left: 0.09375rem;*/
			}
			
			.getBoxIcon {
				width: 4.65rem;
				height: 4.225rem;
				background: url(https://images-wap.newnewbank.com/wap_getBox20170831.png) no-repeat;
				background-size: cover;
				margin: 0.2rem auto 0;
			}
			
			.getBoxIcon .h-90 {
				line-height: 0.390625rem;
			}
			
			.color_f25447 {
				color: #f25447;
			}
			
			.color_b6b6b6 {
				color: #b6b6b6;
			}
			
			.color_e13b49 {
				color: #e13b49;
			}
			
			.color_6c5403 {
				color: #6c5403;
			}
			
			.padding-top-20 {
				padding-top: 0.5rem;
			}
			.loginBox{
				padding-top: 4.2rem;
			}
			.h-110{
				height: 2.75rem;
			}
			.inset-red-box{
				padding-top: 0.6rem;
			}
			.line-height-30{
				line-height: 0.75rem;
			}
