* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC"
}

i {
	font-style: normal;
	display: inline-block;
}

a,
a :hover {
	text-decoration: none;
}

.font_12 {
	font-size: 0.1875rem;
}

.font_13 {
	font-size: 0.203125rem;
}

.font_14 {
	font-size: 0.21875rem;
}

.font_15 {
	font-size: 0.234375rem;
}

.font_16 {
	font-size: 0.25rem;
}

.font_18 {
	font-size: 0.28125rem;
}

.font_20 {
	font-size: 0.3125rem;
}

.font_24 {
	font-size: 0.375rem;
}

.font_26 {
	font-size: 0.40625rem;
}

.font_30 {
	font-size: 0.46875rem;
}

.font_32 {
	font-size: 0.5rem;
}

.font_36 {
	font-size: 0.5625rem;
}

.font_40 {
	font-size: 0.625rem;
}

.font_48 {
	font-size: 0.75rem;
}

.font_50 {
	font-size: 0.78125rem;
}

.color_000 {
	color: #000;
}

.color_333 {
	color: #333;
}

.color_666 {
	color: #666;
}

.color_999 {
	color: #999;
}

.color_fff {
	color: #fff;
}

.color_f44975 {
	color: #f44975;
}

.color_7dbbd0 {
	color: #7dbbd0;
}

.color_eea838 {
	color: #eea838;
}

.bgColor_fff {
	background-color: #fff;
}

.bgColor_f44975 {
	background-color: #f44975;
}

.bgColor_7dbdd0 {
	background-color: #7dbdd0;
}

.bgColor_19baaa {
	background-color: #19baaa;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.margin_center {
	margin: 0 auto;
}

.inline_block {
	display: inline-block;
}

.relative {
	position: relative;
}

.text_center {
	text-align: center;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.three-page {
	margin-top: 0.0625rem;
}

.none {
	display: none;
}

.single-line {}

.single-line:hover {
	background-color: rgba(239, 239, 244, .5);
}

.arrow {
	width: 0.234375rem;
	height: 0.234375rem;
	border-top: 0.03125rem solid #a7a7a7;
	border-left: 0.03125rem solid #a7a7a7;
	moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	margin-right: 0.625rem;
	margin-top: 0.46875rem;
}

.spriteIcon {
	width: 0.5625rem;
	height: 0.53125rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/spritesIcon201729.png) no-repeat;
	margin-top: 0.390625rem;
	margin-right: 0.234375rem;
	background-size: cover;
}

.spriteIcon1 {
	background-position: 0 0;
}

.spriteIcon2 {
	background-position: -1.140625rem 0;
}

.spriteIcon3 {
	background-position: -2.1875rem 0;
}

.spriteIcon4 {
	background-position: -3.125rem 0;
}

.spriteIcon5 {
	background-position: -4.125rem 0;
}

.spriteIcon6 {
	background-position: -4.96875rem 0;
	margin-top: .3rem;
}

.common-border {
	border-bottom: 0.015625rem solid #f5f5f5;
}

.dt-line {
	width: 85%;
	height: 100%;
	line-height: 1.25rem;
}

.h-80 {
	height: 1.25rem;
	line-height: 1.25rem;
	box-sizing: border-box;
}

#vipZone {
	width: 100%;
	background-color: #efeff4;
	min-height: 100vh;
}

.red-header {
	height: 4.53125rem;
	background-color: #F44975;
}

.available-balance {
	padding: 0.625rem 0 0;
}

.color_fcdde4 {
	color: #fcdde4;
}

.h-100 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.5625rem;
	background-color: rgba(255, 255, 255, .1);
}

.left-data,
.right-data {
	width: 50%;
	padding-top: 3%;
	line-height: .5rem;
}

.padding-left {
	padding-left: 0.625rem;
}

.padding-right {
	padding-right: 0.546875rem;
}

.underLine {
	border-bottom: 0.015625rem solid #f5f5f5;
}


/*investment_details start*/

.l-icon {
	width: 1.484375rem;
	height: 1.484375rem;
	float: left;
	background-image: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/product_menu_bg_20170306.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.l-icon01 {
	background-position: -0.421875rem 0;
}

.l-icon02 {
	background-position: -2.296875rem 0;
}

.l-icon03 {
	background-position: -4.1875rem 0;
}

.l-icon04 {
	background-position: -6.15625rem 0;
}

.l-icon05 {
	background-position: -8.046875rem 0;
}

.l-icon06 {
	background-position: -10rem 0;
}

.l-icon07 {
	background-position: -11.90625rem 0;
}

.l-icon08 {
	background-position: -13.828125rem 0;
}

.l-icon09 {
	background-position: -15.828125rem 0;
}

#investment_details {
	width: 100%;
	background-color: #efeff4
}

.top-page-item,
.bottom-page-item {}

.external_border_line {
	border: 0.015625rem solid #ddd;
	padding: 0.15625rem;
	border-radius: 0.078125rem;
	float: left;
}

.data-display {
	background-color: #ebfaff;
	height: 1.5625rem;
}

.data-display li {
	float: left;
	text-align: center;
	margin-top: 0.15625rem;
}

.click-down,
.click-down1 {
	width: 0.578125rem;
	height: 0.578125rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/arrBtn20170306.png) no-repeat;
	background-size: 0.578125rem 0.578125rem;
}

.click-down1 {
	transform: rotate(180deg);
}

.bottom-page-item {
	margin-top: 0.3125rem;
}

.left-to-right-30 {
	padding: 0 3%;
}

.product-name {
	padding: 0.4375rem 3% 0.78125rem;
}

.right-text {
	margin-top: -0.078125rem;
	margin-left: 0.46875rem;
}

.data-detail {
	padding: 0.421875rem 3%;
}

.click-downBtn {
	margin-top: -0.625rem;
}

.h-90 {
	height: 1.40625rem;
	line-height: 1.40625rem;
}

.radian-border {
	width: 2.1875rem;
	height: 0.5625rem;
	line-height: 0.5625rem;
	font-size: 0.3125rem;
	border-radius: 0.28125rem;
	text-align: center;
}

.mar-top {
	margin-top: 0.390625rem;
}

.red-border {
	border: 0.015625rem solid #F44975;
}

.yellow-border {
	border: 0.015625rem solid #eea838;
}

.h-78 {
	height: 1.21875rem;
	line-height: 1.21875rem;
}

.line-height-78 {
	line-height: 1.21875rem;
}

#investment_details .two-page,
#investment_details .three-page,
#investment_details .four-page {
	margin-top: 0.15625rem;
	padding: 0.59375rem 3% 0.4375rem;
}


/*investment_details end*/


/*recharge.html start*/

.left-to-right-not {
	padding: 0 5% 0 3%;
}

.suspended {
	background-color: #efeff4;
	height: 1.5625rem;
	line-height: 1.5625rem;
}

.calendarBtn {
	width: 0.5625rem;
	height: 0.5rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/calendarBtn20170306.png) no-repeat;
	background-size: cover;
	float: right;
	margin-top: .5rem;
}

.single-data {
	padding: 0.59375rem 5% 0.4375rem 3%;
	background-color: #fff;
}

.tender {
	padding-right: .5rem;
}

.transactionNumber {
	padding-top: .1rem;
}


/*  覆盖层  start   */

#cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	display: none;
	z-index: 10;
}


/*  覆盖层  end   */

.popup-suspended {
	position: fixed;
	display: none;
	width: 90%;
	left: 5%;
	top: 1.2rem;
	z-index: 20;
}


/*箭头向上*/

.arrow-up {
	width: 0;
	height: 0;
	border-left: .15625rem solid transparent;
	border-right: .15625rem solid transparent;
	border-bottom: .15625rem solid #fff;
	margin-left: 8.6rem;
}

.rec-box-white {
	width: 100%;
	background-color: #fff;
	/*height: 10.9375rem;*/
	border-radius: 0.1rem;
	box-sizing: border-box;
	padding: 0.625rem 0.46875rem 0.46875rem;
}

.originally,
.active {
	width: 2.265625rem;
	height: 0.875rem;
	line-height: 0.875rem;
	border-radius: 0.15rem;
	text-align: center;
}

.originally {
	color: #333;
	border: 1px solid #ddd;
}

.active {
	color: #F44975;
	border: 1px solid #F44975;
}

.h-22 {
	height: 0.34375rem;
	line-height: .34375rem;
	margin: 0.65625rem 0 0.546875rem;
}

.w-420 {
	width: 6.5625rem;
	height: 0.015625rem;
	margin-top: 0.15625rem;
	float: right;
}

.mouth-border-have,
.active-mouth-curr,
.active-mouth-not {
	    width: 1.6rem;
    height: 0.78125rem;
    line-height: 0.78125rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0.078125rem;
    margin-left: .15rem;
    margin-right: .15rem;
}

.mouth-border-have {
	color: #333;
	background-color: #f5f5f5;
}

.active-mouth-curr {
	color: #fff;
	background-color: #F44975;
}

.active-mouth-not {
	color: #999;
	border: 1px solid #ddd;
}

.w-150 {
	width: 2.34375rem;
	height: 0.015625rem;
	position: absolute;
	top: .45rem;
}

.color_d0d0d0 {
	color: #d0d0d0;
}

.leftLine {
	left: 0;
}

.rightLine {
	right: 0;
}

.sureBtn,
.cancelBtn {
	width: 3.90625rem;
	height: 1rem;
	line-height: 1rem;
	border-radius: 0.15rem;
	text-align: center;
	font-size: 0.375rem;
}

.sureBtn {
	background-color: #F44975;
	color: #fff;
}

.cancelBtn {
	background-color: #f5f5f5;
	color: #333;
}

.select-fixed {
	padding-top: 1.5625rem;
}

.select-fixed .fixed-active {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}


/*recharge.html end*/