	* {
				margin: 0;
				padding: 0;
				font-family: "microsoft yahei";
			}
			
			i {
				font-style: normal;
				display: inline-block;
			}
			
			a {
				text-decoration: none;
			}
			
			.font_12 {
				font-size: 0.1875rem;
			}
			
			.font_13 {
				font-size: 0.203125rem;
			}
			
			.font_14 {
				font-size: 0.21875rem;
			}
			
			.font_15 {
				font-size: 0.234375rem;
			}
			
			.font_16 {
				font-size: 0.25rem;
			}
			
			.font_18 {
				font-size: 0.28125rem;
			}
			
			.font_20 {
				font-size: 0.3125rem;
			}
			
			.font_24 {
				font-size: 0.375rem;
			}
			
			.font_26 {
				font-size: 0.40625rem;
			}
			
			.font_30 {
				font-size: 0.46875rem;
			}
			
			.font_32 {
				font-size: 0.5rem;
			}
			
			.font_40 {
				font-size: 0.625rem;
			}
			
			.font_48 {
				font-size: 0.75rem;
			}
			
			.font_50 {
				font-size: 0.78125rem;
			}
			
			.color_fff {
				color: #fff;
			}
			
			.color_999 {
				color: #999;
			}
			
			.color_333 {
				color: #333;
			}
			
			.color_666 {
				color: #666;
			}
			
			.bgColor_fff {
				background-color: #fff;
			}
			
			.bgColor_f44975 {
				background-color: #f44975;
			}
			
			.bgColor_7dbdd0 {
				background-color: #7dbdd0;
			}
			
			.bgColor_19baaa {
				background-color: #19baaa;
			}
			
			.float_right {
				float: right;
			}
			
			.margin_center {
				margin: 0 auto;
			}
			
			.inline_block {
				display: inline-block;
			}
			
			.relative {
				position: relative;
			}
			
			.text_center {
				text-align: center;
			}
			#fundDetail-root {
				background-color: #efeff4;
				width: 10.0rem;
				padding-bottom: 0.46875rem;
			}
			
			#fundDetail-root .one-page {
				margin-bottom: 0.3125rem;
			}
			
			#fundDetail-root .two-page {
				margin-bottom: 0.34375rem;
				
			}
			
			.padding-left {
				padding-left: 0.625rem;
			}
			
			.padding-right {
				padding-right: 0.546875rem;
			}
			
			.insurance {
				padding: 0.375rem 0.546875rem;
			}
			.wh-200{
				width: 3.125rem;
				height: 3.125rem;
			}
			.inProtection {
			    background-color: #19baaa;
			    padding: 0 .2rem;
			    border-radius: 0.078125rem;
			    margin-right: 0.546875rem;
			    margin-top: 0.575rem;
			}
			
			.circle {
				width: 1.40625rem;
				height: 1.40625rem;
				position: absolute;
				left: 0.859375rem;
				top: 0.859375rem;
				background-color: #fff;
				border-radius: 50%;
			}
			
			.underLine {
				border-bottom: 0.015625rem solid #f5f5f5;
			}
			
			.dot {
				float: left;
				width: 0.3125rem;
				height: 0.3125rem;
				border-radius: 50%;
				margin-right: 0.15625rem;
				margin-top: 0.3125rem;
			}
			
			.padding-30 {
				padding: 0.46875rem 0 0.46875rem 0.46875rem;
			}
			
			.three-page {
				margin-top: 0.359375rem;
			}
			
			.single-line {
				height: 1.25rem;
			}
			.single-line:hover{
				/*background-color: rgba(239,239,244,.5);*/
			}
			.arrow {
				width: 0.234375rem;
				height: 0.234375rem;
				border-top: 0.03125rem solid #a7a7a7;
				border-left: 0.03125rem solid #a7a7a7;
				moz-transform: rotate(135deg);
				-webkit-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				transform: rotate(135deg);
				margin-right: 0.625rem;
				margin-top: 0.46875rem;
			}
			
			.spriteIcon {
				width: 0.5625rem;
				height: 0.53125rem;
				background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/spritesIcon201729.png) no-repeat;
				margin-top: 0.390625rem;
				margin-right: 0.234375rem;
				background-size: cover;
			}
			
			.spriteIcon1 {
				background-position: 0 0;
			}
			
			.spriteIcon2 {
				background-position: -1.140625rem 0;
			}
			
			.spriteIcon3 {
				background-position: -2.1875rem 0;
			}
			
			.spriteIcon4 {
				background-position: -3.125rem 0;
			}
			
			.spriteIcon5 {
				background-position: -4.125rem 0;
			}
			
			.spriteIcon6 {
				background-position: -4.96875rem 0;
				margin-top: .3rem;
			}
			.common-border {
				border-bottom: 0.015625rem solid #f5f5f5;
			}
			
			.dt-line {
				width: 85%;
				/*height: 100%;*/
				line-height: 1.25rem;
			}			
			.h-80 {
				height: 1.25rem;
				line-height: 1.25rem;
				box-sizing: border-box;
			}			
			#can1 {
				width: 3.125rem;
				height: 3.125rem;
			}
			
			.single-line1 {
				width: 4.375rem;
				height: 0.9375rem;
				line-height: 0.9375rem;
			}
			
			.fundType {
				margin-top: 0.15625rem;
			}