		* {
			margin: 0;
			padding: 0;
			font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC";
			max-height: 999999px;
		}
		
		html * {
			outline: none;
			-webkit-text-size-adjust: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			/*-webkit-tap-highlight-color: transparent;*/
		}
		
		ul li {
			list-style: none;
		}
		
		span {
			display: inline-block;
		}
		
		em {
			font-style: normal;
		}
		
		i {
			font-style: normal;
			display: inline-block;
		}
		
		a {
			text-decoration: none;
		}
		
		a:hover {
			text-decoration: none;
		}
		
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		input[type="text"],
		input[type="password"],
		{
			-webkit-appearance: none;
		}
		
		textarea {
			-webkit-appearance: none;
		}
		/*字体大小 start*/
		
		.font_12 {
			font-size: 0.3rem;
		}
		
		.font_13 {
			font-size: 0.325rem;
		}
		
		.font_14 {
			font-size: 0.35rem;
		}
		
		.font_15 {
			font-size: 0.375rem;
		}
		
		.font_16 {
			font-size: 0.4rem;
		}
		
		.font_18 {
			font-size: 0.45rem;
		}
		
		.font_20 {
			font-size: 0.5rem;
		}
		
		.font_22 {
			font-size: 0.55rem;
		}
		
		.font_24 {
			font-size: 0.6rem;
		}
		
		.font_26 {
			font-size: 0.65rem;
		}
		
		.font_28 {
			font-size: 0.7rem;
		}
		
		.font_30 {
			font-size: 0.75rem;
		}
		
		.font_32 {
			font-size: 0.8rem;
		}
		
		.font_36 {
			font-size: 0.9rem;
		}
		
		.font_40 {
			font-size: 1rem;
		}
		
		.font_48 {
			font-size: 1.2rem;
		}
		
		.font_50 {
			font-size: 1.25rem;
		}
		
		.font_60 {
			font-size: 1.5rem;
		}
		/*字体大小 end*/
		/*字体颜色 start*/
		
		.color_000 {
			color: #000;
		}
		
		.color_333 {
			color: #333;
		}
		
		.color_666 {
			color: #666;
		}
		
		.color_999 {
			color: #999;
		}
		
		.color_fff {
			color: #fff;
		}
		
		.color_f44975 {
			color: #f44975;
		}
		
		.color_1c7ebe {
			color: #1c7ebe;
		}
		
		.bgColor_fff {
			background-color: #fff;
		}
		
		.bgColor_f44975 {
			background-color: #f44975;
		}
		
		.relative {
			position: relative;
		}
		
		.margin_center {
			margin: 0 auto;
		}
		
		.cell_center {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
		
		.high_center {
			display: flex;
			display: -webkit-flex;
			align-items: center;
		}
		
		.vertical_center {
			display: flex;
			display: -webkit-flex;
			justify-content: center;
			align-items: center;
		}
		
		.float_left {
			float: left;
		}
		
		.float_right {
			float: right;
		}
		
		.pointer {
			cursor: pointer;
		}
		
		.bold {
			font-weight: bold;
		}
		
		.overflow {
			overflow: hidden;
		}
		
		.inline_block {
			display: inline-block;
		}
		
		.text_center {
			text-align: center;
		}
		
		.line_height {
			line-height: 0.875rem;
		}
		
		.letter_space {
			letter-spacing: 0.025rem;
		}
		
		.under_line {
			height: 0.025rem;
			background-color: #f5f5f5;
		}
		
		.clearfloat:after {
			display: block;
			clear: both;
			content: "";
			visibility: hidden;
			height: 0
		}
		
		.clearfloat {
			zoom: 1
		}
		
		.clear {
			clear: both;
		}
		
		.none {
			display: none;
		}
		
		.rootNode {
			background-color: #cc203b;
			padding-bottom: 1rem;
		}
		
		header {
			width: 100%;
			height: 17.2rem;
			background: url(https://images-wap.newnewbank.com/wap_headerBg20170721.png) no-repeat;
			background-size: cover;
		}
		
		div.dotIcon {
			background: url(https://images-wap.newnewbank.com/wap_dot20170721.png) repeat;
		}
		
		.color_c21e38 {
			color: #c21e38;
		}
		
		.color_ec2544 {
			color: #ec2544;
		}
		
		.color_ffdd00 {
			color: #ffdd00;
		}
		
		.bgColor_a31d32 {
			background-color: #a31d32;
		}
		
		.scarfIcon {
			width: 13.4rem;
			height: 2.275rem;
			background: url(https://images-wap.newnewbank.com/wap_scarf20170721.png) repeat;
			background-size: cover;
			margin: 1.15rem auto 0.65rem;
		}
		
		.packBox {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}
		
		.halfCircle {
			width: 4rem;
			height: 2rem;
			border-radius: 2rem 2rem 0 0;
		}
		
		.redBox {
			/*height: 11.15rem;*/
			border-radius: 0 5px 5px 5px;
		}
		
		.couponBox {
			padding: 0.65rem 0 0.5rem;
		}
		
		.oneCoupon {
			width: 12.975rem;
			height: 2.725rem;
			background: url(https://images-wap.newnewbank.com/wap_modell20170721.png) repeat;
			background-size: cover;
			margin-left: 1.2rem;
			margin-bottom: 0.3rem;
		}
		
		.oneCoupon:last-child {
			margin-bottom: 0;
		}
		
		.yellow-circle {
			width: 2.5rem;
			height: 2.5rem;
			background-color: #fef1d7;
			border-radius: 50%;
			margin-left: 1.0rem;
			margin-right: 1.0rem;
		}
		
		.colorFul {
			width: 14.7rem;
			height: 6.15rem;
			background: url(https://images-wap.newnewbank.com/wap_colourful20170721.png) no-repeat;
			background-size: cover;
		}
		
		.longEllipse {
			width: 15.25rem;
			height: 3.9rem;
			border-radius: 1.95rem;
			background-color: #fff;
			box-shadow: 0 0.125rem 0px 0.125rem #b41c33;
		}
		
		.regisBtn {
			width: 4.15rem;
			height: 1.125rem;
			line-height: 1.125rem;
			box-shadow: 0 0.125rem 0 0 #d31e3a;
			background-color: #ec2544;
			border-radius: 0.1rem;
		}