* {
				margin: 0;
				padding: 0;
				font-family: "microsoft yahei";
			}
			
			i {
				font-style: normal;
				display: inline-block;
			}
			
			a:hover {
				text-decoration: none
			}
			
			a {
				text-decoration: none;
			}
			/*字体大小 start*/
			
			.font_12 {
				font-size: 12px;
			}
			
			.font_13 {
				font-size: 13px;
			}
			
			.font_14 {
				font-size: 14px;
			}
			
			.font_15 {
				font-size: 15px;
			}
			
			.font_16 {
				font-size: 16px;
			}
			
			.font_18 {
				font-size: 18px;
			}
			
			.font_20 {
				font-size: 20px;
			}
			
			.font_24 {
				font-size: 24px;
			}
			
			.font_25 {
				font-size: 25px;
			}
			
			.font_26 {
				font-size: 26px;
			}
			
			.font_30 {
				font-size: 30px;
			}
			
			.font_32 {
				font-size: 32px;
			}
			
			.font_35 {
				font-size: 35px;
			}
			
			.font_40 {
				font-size: 40px;
			}
			
			.font_44 {
				font-size: 44px;
			}
			
			.font_48 {
				font-size: 48px;
			}
			
			.font_50 {
				font-size: 50px;
			}
			/*字体大小 end*/
			/*字体颜色 start*/
			
			.color_000 {
				color: #000;
			}
			
			.color_fff {
				color: #fff;
			}
			
			.color_666 {
				color: #666;
			}
			
			.color_999 {
				color: #999;
			}
			
			.color_f44975 {
				color: #f44975;
			}
			
			.color_1c7ebe {
				color: #1c7ebe;
			}
			
			.color_c12417 {
				color: #c12417;
			}
			/*字体颜色 end*/
			/*背景颜色 start*/
			
			.bgColor_fff {
				background-color: #fff;
			}
			
			.bgColor_f44975 {
				background-color: #f44975;
			}
			/*背景颜色 end*/
			
			.relative {
				position: relative;
			}
			
			.w_1200 {
				width: 1200px;
			}
			
			.margin_center {
				margin: 0 auto;
			}
			
			.float_left {
				float: left;
			}
			
			.float_right {
				float: right;
			}
			
			.clear {
				clear: both;
			}
			
			.pointer {
				cursor: pointer;
			}
			
			.bold {
				font-weight: bold;
			}
			
			.overflow {
				overflow: hidden;
			}
			
			.inline_block {
				display: inline-block;
			}
			
			.none {
				display: none;
			}
			
			.text_center {
				text-align: center;
			}
			/*  覆盖层  start   */
			
			#cover {
				position: fixed;
				top: 0;
				left: 0;
				width: 10.0rem;
				height: 100%;
				background: rgba(0, 0, 0, 0.9);
				display: none;
				z-index: 1;
			}
			/*弹框  start*/
			
			.bombBox {
				display: none;
				width: 9.0625rem;
				height: 5.578125rem;
				background-color: #fff;
				border-radius: 0.15625rem;
				position: fixed;
				top: 1.875rem;
				left: 4%;
				color: #333;
				z-index: 9999;
				font-size: 0.375rem;
			}
			
			.bombBox .redGround {
				line-height: 0.734375rem;
				height: 0.734375rem;
				border-radius: 0.15625rem 0.15625rem 0 0;
				background-color: #f44975;
				color: #fff;
				margin-bottom: 0.68125rem;
			}
			
			.bombBox .redGround span:first-child {
				margin-left: 3.125rem;
			}
			
			.bombBox .redGround span:last-child {
				float: right;
				margin-right: 0.15625rem;
				font-size: 0.625rem;
			}
			
			.bombBox .left20 {
				margin-top: 0.46875rem;
				margin-left: 0.9375rem;
			}
			
			.bombBox .left10 {
				margin-top: 0.3125rem;
			}
			
			.bombBox .inputBg {
				width: 5.78125rem;
				height: 0.9375rem;
				display: inline-block;
				background-color: #f1f1f1;
				border-radius: 0.078125rem;
				color: #999;
			}
			
			.bombBox input {
				width: 80%;
				height: 100%;
				border-radius: 0.078125rem;
				border: none;
				background-color: #F1F1F1;
			}
			
			.bombBox a {
				font-size: 0.78125rem;
				color: #f44975;
			}
			/*弹框  end*/
			
			#valentine-root {
				width: 640px;
				/*height: 3555px;*/
				background-color: #d13451;
			}
			
			.header-banner {
				width: 640px;
				height: 790px;
				background: url(img/wap_banner2017210.jpg) no-repeat;
				background-size: 640px 790px;
			}
			
			.purse {
				width: 640px;
				height: 846px;
				background: url(img/wap_purse2017210.jpg) no-repeat;
				background-size: 640px 846px;
				margin-top: -20px;
			}
			
			.line-height {
				line-height: 30px;
			}
			
			.immediate-recharge {
				width: 270px;
				height: 60px;
				line-height: 60px;
				background-color: #f93854;
				border: 1px solid #cca500;
				border-radius: 8px;
				margin-top: 700px;
			}
			
			.casket {
				width: 640px;
				height: 545px;
				margin-top: 45px;
				background: url(img/wap_casket2017210.jpg) no-repeat;
				background-size: 640px 545px;
			}
			
			.ip7 {
				position: absolute;
				top: 140px;
				left: 240px;
			}
			
			.ip1 {
				position: absolute;
				top: 390px;
				left: 90px;
			}
			
			.ip3 {
				position: absolute;
				top: 390px;
				right: 90px;
			}
			
			.twoPage {
				margin-top: 75px;
				width: 622px;
				height: 182px;
				background-color: #c82745;
				border: 2px solid #c51c2d;
				border-radius: 70px;
			}
			
			.color_ffe700 {
				color: #ffe700;
			}
			
			.rightBox {
				margin-top: 40px;
			}
			
			.rightBox> .consultation,
			.income,
			.income2 {
				width: 163px;
				height: 40px;
				border-radius: 20px;
				line-height: 40px;
				font-size: 18px;
			}
			
			.rightBox .consultation a {
				color: #ffe700;
			}
			
			.rightBox .income a,
			.rightBox .income2 a {
				color: #fff;
			}
			
			.rightBox .consultation {
				margin: 8px 20px 8px;
				border: 1px #FFE700 solid;
			}
			
			.rightBox .consultation .smallIcon {
				margin: 10px 10px 10px 25px;
				width: 29px;
				height: 25px;
				background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/web_smallIcon20161208.png) no-repeat 0 0;
				float: left;
			}
			
			.rightBox .income {
				border: 1px #fff solid;
				margin: 0px 20px 15px;
			}
			
			.rightBox .income2 {
				background-color: #fccb00;
				margin: 0px 20px 15px;
				color: #cc2745;
			}
			
			.rightBox .income .smallIcon1 {
				margin: 10px 10px 10px 25px;
				display: inline-block;
				width: 23px;
				height: 25px;
				background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/web_smallIcon20161208.png) no-repeat -29px 0;
				float: left;
			}
			
			.redColor2 {
				color: #cc2745!important;
			}
			
			.rightBox .income2 .smallIcon2 {
				margin: 10px 10px 10px 25px;
				display: inline-block;
				width: 26px;
				height: 25px;
				background: url(http://images-web.oss-cn-hangzhou.aliyuncs.com/money2017210.png) no-repeat;
				float: left;
			}
			/*.textScript {
				padding-left: 20px;
				margin-top: 50px;
				color: #fff;
				background-color: #c82745;
			}
			
			.textScript .activityIntroduction {
				font-size: 24px;
				margin-bottom: 35px;
			}
			
			.textScript .activityIntroduction span {
				float: right;
				margin-right: 50px;
				margin-top: 20px;
				display: inline-block;
				width: 456px;
				height: 1px;
				background-color: #fff;
			}
			
			.textScript .fontS_20 {
				font-size: 20px;
				margin-bottom: 15px;
			}
			
			.textScript .fontS_20:before {
				margin-right: 10px;
				display: inline-block;
				content: '';
				background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/love2017210.png) no-repeat;
				width: 27px;
				height: 26px;
				float: left;
			}
			*/
			
			.textScript {
				background-color: #c82745;
				padding-left: 20px;
				margin-top: 60px;
				color: #fff;
				padding-top: 30px;
    			padding-bottom: 45px;
			}
			
			.textScript .activityIntroduction {
				font-size: 0.375rem;
				margin-bottom: 0.546875rem;
			}
			
			.textScript .activityIntroduction span {
				float: right;
				margin-right: 0.78125rem;
				margin-top: 0.3125rem;
				display: inline-block;
				width: 7.125rem;
				height: 1px;
				background-color: #fff;
			}
			
			.textScript .fontS_20 {
				font-size: 0.3125rem;
				margin-bottom: 0.234375rem;
				display: inline-block;
				width: 92%;
			}
			
			.textScript p:last-child {
				line-height: 0.45rem;
			}
			
			.textScript .fontS_20:before {
				/*margin-right: 0.15625rem;
			    display: inline-block;
			    content: '';
			    width: 0.25rem;
			    height: 0.25rem;
			    border: 1px solid #FFB235;
			    border-radius: 50%;
			    float: left;
			    margin-top: 0.078125rem;*/
				margin-right: 10px;
				display: inline-block;
				content: '';
				background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/love2017210.png) no-repeat;
				width: 27px;
				height: 26px;
				float: left;
			}
			
			.footer {
				line-height: 30px;
				overflow: hidden;
				/*margin-top: 55px;*/
				width: 640px;
				font-size: 16px;
				color: #fff;
				text-align: center;
				height: 96px;
			}
			
			.footer p {
				margin-top: 25px;
			}