* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "microsoft yahei";
}

i {
	font-style: normal;
}

a:hover {
	text-decoration: none
}

a {
	text-decoration: none;
}

#root {
	width: 10.0rem;
	/*height: 46.875rem;*/
	/*background-color: #ec2a47;
	z-index: -1;*/
}

.onePage {
	width: 10.0rem;
	height: 5.296875rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_headerIcon20161212.jpg) no-repeat;
	background-size: 10.0rem 5.296875rem;
}

.onePage p {
	color: #a9051c;
	font-size: 0.15625rem;
	text-align: center;
	padding-top: 1.484375rem;
}

.twoPage {
	width: 10.0rem;
	height: 9.9375rem;
	background-color: #fff;
	overflow: hidden;
}

.horizontal {
	width: 10.0rem;
	height: 1px;
	background-color: #f9f9f9;
	margin-top: 0.15625rem;
}

.yearEnd {
	width: 9.640625rem;
	height: 1.078125rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_daindian20161222.png) no-repeat;
	background-size: 9.640625rem 1.078125rem;
}

.textCenter {
	text-align: center;
}

.commonText {
	line-height: 0.625rem;
	margin-top: 0.3125rem;
}

.commonText p:first-child {
	font-size: 0.46875rem;
	color: #d60d2a;
	font-weight: bold;
}

.commonText p:last-child {
	font-size: 0.34375rem;
	color: #ed2b46;
	opacity: .9;
}

.redPacket {
	width: 6.421875rem;
	height: 4.0625rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_redPacket20161222.jpg) no-repeat;
	background-size: 6.421875rem 4.0625rem;
	text-align: center;
	margin: 0.703125rem auto 0.46875rem;
	overflow: hidden;
}

.immediatelyReceive {
	width: 2.71875rem;
	height: 0.90625rem;
	line-height: 0.90625rem;
	text-align: center;
	border: 2px solid #fffba5;
	border-radius: 0.3125rem;
	color: #fffba5;
	font-size: 0.375rem;
	font-weight: bold;
	margin: 1.875rem auto;
	text-shadow: 0 0.046875rem #ca1f1f;
	box-shadow: 0 0.078125rem 0.046875rem 0.03125rem #ca1f1f inset
}

.activityDescription {
	text-align: left;
	margin-left: 0.46875rem;
}

.activityDescription p:first-child {
	color: #333;
	font-size: 0.375rem;
	margin-bottom: 0.15625rem;
}

.fontS_16 {
	color: #999;
	font-size: 0.3125rem;
	line-height: 0.46875rem;
}

.threePage {
	width: 10.0rem;
	height: 6.09375rem;
	background-color: #ed2b46;
}

.star {
	width: 10.0rem;
	height: 1.15625rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_star20161222.jpg) no-repeat;
	background-size: 10.0rem 1.15625rem;
}

.textUp {
	margin-top: -0.3125rem;
	padding-left: 2.8125rem;
}

.white {
	color: #fff!important;
}

.date {
	text-align: center;
	font-size: 0.3125rem;
	color: #fff;
	margin: 0.3125rem 0 0.625rem;
}

.entrance {
	width: 9.875rem;
	height: 2.09375rem;
	background: url(https://images-web.oss-cn-hangzhou.aliyuncs.com/entrance20161221.png) no-repeat;
	background-size: 9.875rem 2.09375rem;
	margin: 0 auto;
}

.leftBox,
.rightBox {
	display: inline-block;
}

.leftBox {
	padding: 0.3125rem 0.325rem 0.234375rem 0;
	line-height: 0.46875rem;
	margin: 0.3125rem 0 0 2.34375rem;
	border-right: 1px solid #fbd5da;
}

.leftBox .noLogin {
	padding: .2rem 0;
	margin-left: .4rem;
	font-size: 0.375rem;
	color: #333;
}

.leftBox a {
	color: #ED2B46;
}

.login {
	color: #333;
	font-size: 0.3125rem;
}

.ed2b46 {
	color: #ED2B46;
}

.ed2b46 a {
	cursor: pointer;
	color: #ED2B46;
}

.rightBox {
	float: right;
	margin-top: 0.3125rem;
	margin-right: 0.3125rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 0.75rem;
	background-color: #d5203a;
}

.text_18Black {
	color: #333;
	font-size: 0.28125rem;
}

.login {
	color: #333;
	font-size: 0.3125rem;
}

.ed2b46 {
	color: #ED2B46;
}

.ed2b46 a {
	cursor: pointer;
	color: #ED2B46;
}

.moneyNum {
	font-size: 0.375rem;
	color: #ed2b46;
}

.moneyNum a {
	font-size: 0.546875rem;
}

.rightBox p:first-child {
	width: 0.53125rem;
	height: 0.609375rem;
	margin: 0.234375rem 0.46875rem 0.078125rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_calculation20161208.png) no-repeat;
	background-size: 0.53125rem 0.609375rem;
}

.consultation {
	color: #fff;
	font-size: 0.28125rem;
	text-align: center;
}

.fourPage {
	width: 10.0rem;
	height: 21.234375rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_christmastree20161222.jpg) no-repeat;
	background-size: 10.0rem 21.234375rem;
	margin: 0 auto;
	position: relative;
	font-size: 0.3125rem;
}

.green {
	color: #8DAD1F;
}

.twoWan {
	position: absolute;
	width: 3.4375rem;
	top: 0.25625rem;
	right: 0.625rem;
}

.giftDetail {
	width: 1.09375rem;
	height: 1.09375rem;
	color: #fff;
	font-size: 0.28125rem;
	border-radius: 0.546875rem;
	text-align: center;
}

.giftDetailEight,
.giftDetailTwenty,
.giftDetailFifty {
	position: absolute;
	top: 0.03125rem;
	left: -1.21875rem;
}

.giftDetailTen,
.giftDetailThirty {
	position: absolute;
	top: 0.03125rem;
	left: 3.015625rem;
}

.fiveWan {
	position: absolute;
	width: 3.4375rem;
	top: 2.57rem;
	left: 0.9375rem;
}

.eightWan {
	position: absolute;
	width: 3.4375rem;
	top: 4.1425rem;
	left: 5.625rem;
}

.tenWan {
	position: absolute;
	width: 3.4375rem;
	top: 7.13125rem;
	left: 1.40625rem;
}

.twentyWan {
	position: absolute;
	width: 3.4375rem;
	top: 9.94375rem;
	right: 0.859375rem;
}

.thirtyWan {
	position: absolute;
	width: 3.4375rem;
	top: 12.57rem;
	left: 1.40625rem;
}

.giftDetailThirty {
	position: absolute;
	top: -0.046875rem;
	right: -0.15625rem;
}

.fiftyWan {
	position: absolute;
	width: 3.4375rem;
	top: 15.334375rem;
	right: 0.859375rem;
}

.toInvest {
	position: absolute;
	top: 20.0rem;
	left: 1.5625rem;
	width: 6.875rem;
	height: 1.25rem;
	background-color: #fff;
	border-radius: 0.546875rem;
}

.toInvest p {
	width: 6.71875rem;
	height: 1.09375rem;
	line-height: 1.09375rem;
	font-size: 0.5625rem;
	color: #fff;
	cursor: pointer;
	text-align: center;
	background-color: #8dad1f;
	border-radius: 0.46875rem;
	margin: 0 auto;
}

.fivePage {
	width: 10.0rem;
	height: 6.09375rem;
	background-color: #ed2b46;
	overflow: hidden;
}

.textScript {
	padding-left: 0.3125rem;
	margin-top: 0.88125rem;
	color: #fff;
}

.textScript .activityIntroduction {
	font-size: 0.375rem;
	margin-bottom: 0.546875rem;
}

.textScript .activityIntroduction span {
	float: right;
	margin-right: 0.78125rem;
	margin-top: 0.3125rem;
	display: inline-block;
	width: 7.125rem;
	height: 1px;
	background-color: #fff;
}

.textScript .fontS_20 {
	font-size: 0.3125rem;
	margin-bottom: 0.234375rem;
	display: inline-block;
	width: 92%;
}

.textScript p:last-child {
	line-height: 0.45rem;
}

.circle {
	margin-right: 0.15625rem;
	display: inline-block;
	width: 0.21875rem;
	height: 0.21875rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/circle20161222.png) no-repeat;
	background-size: 0.21875rem 0.21875rem;
	float: left;
	margin-top: 0.078125rem;
}

.sixPage {
	width: 10.0rem;
	height: 2.25rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_bottomImg20161222.jpg) no-repeat;
	background-size: 10.0rem 2.25rem;
	overflow: hidden;
}

.footer {
	text-align: center;
	font-size: 0.25rem;
	color: #666;
	margin-top: 1.3rem;
}


/*  瑕嗙洊灞�  start   */

#cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 10.0rem;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	display: none;
	z-index: 1;
}


/*寮规  start*/

.bombBox {
	display: none;
	width: 9.0625rem;
	height: 5.578125rem;
	background-color: #fff;
	border-radius: 0.15625rem;
	position: fixed;
	top: 1.875rem;
	left: 4%;
	color: #333;
	z-index: 9999;
	font-size: 0.375rem;
}

.bombBox .redGround {
	line-height: 0.734375rem;
	height: 0.734375rem;
	border-radius: 0.15625rem 0.15625rem 0 0;
	background-color: #f44975;
	color: #fff;
	margin-bottom: 0.68125rem;
}

.bombBox .redGround span:first-child {
	margin-left: 3.125rem;
}

.bombBox .redGround span:last-child {
	float: right;
	margin-right: 0.15625rem;
	font-size: 0.625rem;
}

.bombBox .left20 {
	margin-top: 0.46875rem;
	margin-left: 0.9375rem;
}

.bombBox .left10 {
	margin-top: 0.3125rem;
}

.bombBox .inputBg {
	width: 5.78125rem;
	height: 0.9375rem;
	display: inline-block;
	background-color: #f1f1f1;
	border-radius: 0.078125rem;
	color: #999;
}

.bombBox input {
	padding-left: .5rem;
	width: 80%;
	height: 100%;
	border-radius: 0.078125rem;
	border: none;
	background-color: #F1F1F1;
}

.bombBox a {
	font-size: 0.78125rem;
	color: #f44975;
}


/*寮规  end*/

.bombBox_suceess {
	display: none;
	height: 5.3125rem;
	position: fixed;
	top: 10%;
	left: 5%;
	color: #333;
	z-index: 20;
	font-size: 0.375rem;
}

.trans {
	position: absolute;
	right: 0;
	top: -0.25625rem;
}

.circle_delete {
	width: 0.78125rem;
	height: 0.78125rem;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
}

.verticalLine {
	width: 1px;
	height: 0.234375rem;
	background-color: #fff;
	margin-left: 0.390625rem;
}

.circle_delete .delete {
	cursor: pointer;
	font-size: 0.78125rem;
	color: #f44975;
	display: inline-block;
	width: 0.78125rem;
	height: 0.78125rem;
	line-height: 0.625rem;
	border-radius: 0.390625rem;
}

.bottomBox {
	width: 8.9375rem;
	height: 5.46875rem;
	background-color: #fff;
	border-radius: 0 0 .15625rem .15625rem;
	text-align: center;
	overflow: hidden;
}

.topIcon {
	width: 8.9375rem;
	height: 1.453125rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_receiveSuccess20161222.png) no-repeat;
	background-size: 8.9375rem 1.453125rem;
}

.metaItemTop {
	margin-top: 0.58125rem;
}

.metaItem {
	color: #f44975;
	font-size: 0.46875rem;
}

.mataBlack {
	color: #000;
	margin-bottom: 0.246875rem;
}

.meta18 {
	font-size: 0.28125rem;
	color: #000;
}

.btnCenter {
	text-align: center;
	margin-top: 0.625rem;
}

.commonBtn {
	display: inline-block;
	width: 3.75rem;
	height: 0.9375rem;
	line-height: 0.9375rem;
	cursor: pointer;
	text-align: center;
	font-size: 0.4375rem;
	border-radius: 0.078125rem;
}

.investBtn {
	background-color: #f44975;
	color: #fff;
}

.lookBtn {
	border: 1px solid #f44975;
	color: #f44975;
}

.bombBox_giftList {
	display: none;
	position: fixed;
	width: 8.9375rem;
	top: 10%;
	left: 5%;
	z-index: 20;
}

.bombBox_eight {
	color: #333;
}

.topIcon {
	width: 8.9375rem;
	height: 1.453125rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_receiveSuccess20161222.png) no-repeat;
	background-size: 8.9375rem 1.453125rem;
}

.bottomBoxEight {
	width: 8.9375rem;
	height: 6.25rem;
	background-color: #fff;
	border-radius: 0 0 0.15625rem 0.15625rem;
	text-align: center;
	overflow: hidden;
}

.bottomBoxTen,
.bottomBoxFifty {
	width: 8.9375rem;
	background-color: #fff;
	border-radius: 0 0 0.15625rem 0.15625rem;
	text-align: center;
	overflow: hidden;
}

.metaItem20 {
	color: #333;
	font-size: 0.3125rem;
	text-align: center;
}

.mataRed {
	color: #f44975;
}

.metaItemMar {
	margin-top: 0.625rem;
}

.giftEightIcon {
	width: 8.34375rem;
	height: 3.4375rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_passwordBox20161222.jpg) no-repeat;
	background-size: 8.34375rem 3.4375rem;
	margin: 0.46875rem auto;
}

.bottomBoxTwenty {
	width: 8.9375rem;
	height: 7.34375rem;
	background-color: #fff;
	border-radius: 0 0 .15625rem .15625rem;
	text-align: center;
	overflow: hidden;
}

.giftTwentyIcon {
	width: 8.9375rem;
	height: 5.1875rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_giftTwenty_20161222.jpg) no-repeat;
	background-size: 8.9375rem 5.1875rem;
	margin: 0.36875rem auto;
}

.bottomBoxThirty {
	width: 8.9375rem;
	height: 9.5625rem;
	background-color: #fff;
	border-radius: 0 0 .15625rem .15625rem;
	text-align: center;
	overflow: hidden;
}

.giftThirtyIcon {
	width: 8.9375rem;
	height: 7.34375rem;
	background: url(https://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_giftThirty21161222.jpg) no-repeat;
	background-size: 8.9375rem 7.34375rem;
	margin: 0.36875rem auto;
}

.bombBox_ten {
	position: absolute!important;
	top: 120%;
}

.bombBox_fifty {
	position: absolute!important;
	top: 180%;
}

.hidden {
	display: none;
}

.lanren,
.lanren1 {
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
	background: #fff;
	padding: 5px;
}

.lanren ul.list,
.lanren1 ul.list {
	overflow: hidden;
}

.lanren ul.list li,
.lanren1 ul.list li {
	float: left;
	overflow: hidden;
}

.lanren ul.list p,
.lanren1 ul.list p {
	text-align: center;
	padding: 0.15625rem;
}

.lanren .more,
.lanren1 .more {
	overflow: hidden;
	padding: 0.15625rem;
	text-align: center;
}

.lanren .more a,
.lanren1 .more a {
	display: block;
	width: 2rem;
	padding: 0.125rem 0;
	color: #fff;
	margin: 0 auto;
	background: #333;
	text-align: center;
	border-radius: 3px;
}