	* {
		padding: 0;
		margin: 0;
		font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC"
	}
	
	i {
		font-style: normal;
		display: inline-block;
	}
	
	ul li {
		list-style: none;
	}
	
	a,
	a :hover {
		text-decoration: none;
	}
	
	.font_12 {
		font-size: 12px;
	}
	
	.font_13 {
		font-size: 13px;
	}
	
	.font_14 {
		font-size: 14px;
	}
	
	.font_15 {
		font-size: 15px;
	}
	
	.font_16 {
		font-size: 16px;
	}
	
	.font_18 {
		font-size: 18px;
	}
	
	.font_20 {
		font-size: 20px;
	}
	
	.font_24 {
		font-size: 24px;
	}
	
	.font_26 {
		font-size: 26px;
	}
	
	.font_30 {
		font-size: 30px;
	}
	
	.font_32 {
		font-size: 32px;
	}
	
	.font_40 {
		font-size: 40px;
	}
	
	.font_48 {
		font-size: 48px;
	}
	
	.font_50 {
		font-size: 50px;
	}
	
	.color_333 {
		color: #333;
	}
	
	.color_666 {
		color: #666;
	}
	
	.color_fff {
		color: #fff;
	}
	
	.color_999 {
		color: #999;
	}
	
	.color_f44975 {
		color: #f44975;
	}
	
	.color_7dbbd0 {
		color: #7dbbd0;
	}
	
	.color_eea838 {
		color: #eea838;
	}
	
	.bgColor_fff {
		background-color: #fff;
	}
	
	.bgColor_f44975 {
		background-color: #f44975;
	}
	
	.bgColor_7dbdd0 {
		background-color: #7dbdd0;
	}
	
	.bgColor_19baaa {
		background-color: #19baaa;
	}
	
	.float_right {
		float: right;
	}
	
	.margin_center {
		margin: 0 auto;
	}
	
	.inline_block {
		display: inline-block;
	}
	
	.relative {
		position: relative;
	}
	
	.text_center {
		text-align: center;
	}
	
	.underLine {
		border-bottom: 0.015625rem solid #f5f5f5;
	}
	
	.clearfloat:after {
		display: block;
		clear: both;
		content: "";
		visibility: hidden;
		height: 0
	}
	
	.clearfloat {
		zoom: 1
	}
	
	.none {
		display: none;
	}
	
	
	
	.l-icon {
		width: 95px;
		height: 95px;
		float: left;
		background-image: url(../img/product_menu_bg_20170306.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.l-icon01 {
		background-position: -27px 0px;
	}
	
	.l-icon02 {
		background-position: -147px 0px;
	}
	
	.l-icon03 {
		background-position: -268px 0px;
	}
	
	.l-icon04 {
		background-position: -394px 0px;
	}
	
	.l-icon05 {
		background-position: -515px 0px;
	}
	
	.l-icon06 {
		background-position: -640px 0px;
	}
	
	.l-icon07 {
		background-position: -762px 0px;
	}
	
	.l-icon08 {
		background-position: -885px 0px;
	}
	
	.l-icon09 {
		background-position: -1013px 0px;
	}
	
	#investment_details {
		width: 640px;
		background-color: #efeff4
	}
	
	.top-page-item,
	.bottom-page-item {}
	
	.external_border_line {
		border: 1px solid #ddd;
		padding: 10px;
		border-radius: 5px;
		float: left;
	}
	
	.data-display {
		background-color: #ebfaff;
		height: 100px;
	}
	
	.data-display li {
		float: left;
		text-align: center;
		margin-top: 10px;
	}
	
	.click-down {
		width: 37px;
		height: 37px;
		background: url(../img/arrBtn20170306.png) no-repeat;
		background-size: ;
	}
	
	.bottom-page-item {
		margin-top: 20px;
	}
	
	.left-to-right-30 {
		padding: 0 3%;
	}
	
	.product-name {
		padding: 28px 3% 50px;
	}
	
	.right-text {
		margin-top: -5px;
		margin-left: 30px;
	}
	
	.data-detail {
		padding: 27px 3%;
	}
	
	.h-90 {
		height: 90px;
		line-height: 90px;
	}
	
	.radian-border {
		width: 140px;
		height: 36px;
		line-height: 36px;
		font-size: 20px;
		border-radius: 18px;
		text-align: center;
	}
	
	.mar-top {
		margin-top: 25px;
	}
	
	.red-border {
		border: 1px solid #F44975;
	}
	
	.yellow-border {
		border: 1px solid #eea838;
	}
	
	.h-78 {
		height: 78px;
		line-height: 78px;
	}
	
	.line-height-78 {
		line-height: 78px;
	}
	
	#investment_details .two-page,
	#investment_details .three-page,
	#investment_details .four-page {
		margin-top: 10px;
		padding: 38px 3% 28px;
	}