@charset 'utf-8';
@import url(baseColor-1.1.1.css);
@import url(common-1.1.1.css);
.page, body{background-color:#efeff4;}
.weui_label{width:4.5em;}
.weui_cells{margin-top: 0;line-height: 2.2;}
.cashDrawal_btn{padding:0 15px; margin-top: 2em; text-align: center;}
.weui_icon_clear:before{font-size: 21px; margin-left: .2em; margin-right: .2em;}
.cashDrawal_tips{color:#CCCCCC; font-size: 14px; line-height: 24px; padding:2% 5%;
	i{padding-right: 10px;}
}
.weui_icon_warn:before {
  font-size: 21px;
  color: #7dcae6;
  line-height: 24px;
}
.weui_cell{padding-top: 15px;
	.ipt_text{padding-left: 0;}
}
.bindBank .weui_cell_ft span{display:inline-block;;}
.bindBank .weui_cell_ft i{height:35px; float:right;}

@media screen and (max-width:320px){
	.weui_cells{font-size: 16px;}
}