@charset 'utf-8';
body,html {
  height: 100%;
  -webkit-tap-highlight-color: transparent
}
* {
  margin: 0;
  padding: 0;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
ul,li{list-style: none;}
a img,fieldset{border:0;}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,textarea{outline: 0; -webkit-appearance: none; border:none;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
.fl{float:left;}
.fr{float:right;}
.clear {font-size: 0;height: 0;line-height: 0;overflow: hidden;clear: both;}
.container {
  overflow: hidden
}
.container,.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.page {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0
}
.shadow{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:rgba(0,0,0,.6);
  z-index: 90;
  display:none;
}
.btn_box{padding: 0 15px; text-align: center; margin-top:1.17647059em;}
.ipt_label{color:#999999;}
.ipt_text{color:#111111; padding-left: 1em;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */} 
.ipt_text::-webkit-input-placeholder { 
    color:#CCCCCC;
}
.ipt_text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
  color: #CCCCCC; 
} 
.ipt_text::-moz-placeholder { /* Mozilla Firefox 19+ */ 
  color: #CCCCCC; 
} 
.ipt_text:-ms-input-placeholder { /* Internet Explorer 10+ */ 
  color: #CCCCCC; 
} 
.weui_btn:after{border:none;}
.weui_icon_clear{display:block;}
.eyes_icon{display:inline-block; width:20px; height:20px; font-size: 17px; line-height: 20px; margin-left: .4em; background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/eyes_20160527.png) no-repeat 50% 50%; background-size: 100% auto;}
.eyes_icon.eyes_icon_show{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/eyes_show_20160603.png) no-repeat 50% 50%; background-size: 100% auto;}

.page_wrap{position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.page_outer{height:100%;}
.page_inner{position:relative;height:100%;box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
.page_content{box-sizing: border-box;height: 100%;overflow: auto;
padding-bottom: 7rem; -webkit-overflow-scrolling: touch;}
/*  底部菜单start  */
.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: .4rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(155,143,143,0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(155,143,143,0.3);
  -moz-box-shadow: 0 0 10px 0 rgba(155,143,143,0.3);
}
.navBar_item {
  display: block;
  position:relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: .4rem 0 0;
  -webkit-tap-highlight-color: transparent;
}
.navBar_icon {
  margin: 0 auto;
  width: 2.4rem;
  height: 2.4rem;
}
.navBar_icon_center{width:3.6rem; height:3.6rem; text-align: center; border:.5rem solid #FFFFFF; 
  position:relative; margin-top:-2.2rem; left:50%; margin-left: -2.3rem; border-radius: 50%;
  box-shadow: 0 -1px 2px 0 rgba(155,143,143,0.3);
  -webkit-box-shadow: 0 -1px 2px 0 rgba(155,143,143,0.3);
  -moz-box-shadow: 0 -1px 2px 0 rgba(155,143,143,0.3);
  img{display:inline-block; width:2rem; height:2rem;}
}
.nbi01{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/icon_nav_home_20160525.png) no-repeat 50% 50%; background-size: 100% 100%;}
.nbi02{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/icon_nav_invest_20160525.png) no-repeat 50% 50%; background-size: 100% 100%;}
.nbi03{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/icon_nav_partner_20160525.png) no-repeat 50% 50%; background-size: 100% 100%;}
.nbi04{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/icon_nav_personal_20160525.png) no-repeat 50% 50%; background-size: 100% 100%;}
.nbi05{background:#f44975 url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/icon_nav_gift_20160525.png) no-repeat 50% 50%; background-size: 2.4rem 2.4rem;}
.navBar_item_on .nbi01{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/icon_nav_home_on_20160525.png) no-repeat 50% 50%; background-size: 100% 100%;}
.navBar_item_on .nbi02{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/icon_nav_invest_on_20160525.png) no-repeat 50% 50%; background-size: 100% 100%;}
.navBar_item_on .nbi03{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/icon_nav_partner_on_20160525.png) no-repeat 50% 50%; background-size: 100% 100%;}
.navBar_item_on .nbi04{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/icon_nav_personal_on_20160525.png) no-repeat 50% 50%; background-size: 100% 100%;}

.navBar_icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.navBar_label {
  text-align: center;
  color: #333333;
  font-size: 1.1rem;
  margin-top: .2rem;
}
/*  底部菜单end  */

/*  底部菜单2 start  */
.navbar2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(155,143,143,0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(155,143,143,0.3);
  -moz-box-shadow: 0 0 10px 0 rgba(155,143,143,0.3);
}
.navBar_item2{
  display: block;
  position:relative;
  width:25%;
  border-right: 1px solid #dddddd;
  padding: .4rem 0;
  -webkit-tap-highlight-color: transparent;
}
.navBar_item3{
  display: block;
  position:relative;
  width:50%;
  height:auto;
  padding: .4rem 0;
  color:#FFFFFF;
  -webkit-tap-highlight-color: transparent;
  p{
    height:39px;
    line-height: 42px;
    text-align: center;
    font-size: 1.6rem; 
    font-weight: 400;
  }
}
.nbi06{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/personal_center_icon08_20160526.png) no-repeat 50% 50%; background-size: 100% 100%;}
.nbi07{background:url(https://images-weixinnew.oss-cn-hangzhou.aliyuncs.com/personal_center_icon09_20160526.png) no-repeat 50% 50%; background-size: 100% 100%;}
/*  底部菜单2 end  */

@-webkit-keyframes a {
  0% {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: 0
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
  }
}

@keyframes a {
  0% {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: 0
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
  }
}

@-webkit-keyframes b {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
  }

  to {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: 0
  }
}

@keyframes b {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
  }

  to {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    opacity: 0
  }
}

.page.slideIn {
  -webkit-animation: a .2s forwards;
  animation: a .2s forwards
}

.page.slideOut {
  -webkit-animation: b .2s forwards;
  animation: b .2s forwards
}
/* 弹窗 start */
.weui_mask {
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.weui_dialog {
  position: fixed;
  z-index: 100;
  width: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FAFAFC;
  text-align: center;
  border-radius: 3px;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_hd {
  padding: 1.2em 20px .5em;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_bd {
  text-align: left;
}
.weui_dialog_hd {
  padding: 1.2em 0 .5em;
}
.weui_dialog_title {
  font-weight: 400;
  font-size: 17px;
}
.weui_dialog_bd {
  padding: 0 20px;
  font-size: 15px;
  color: #888;
}
.weui_dialog_ft {
  position: relative;
  line-height: 42px;
  margin-top: 20px;
  font-size: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.weui_dialog_ft a {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #3CC51F;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_dialog_ft a:active {
  background-color: #EEEEEE;
}
.weui_dialog_ft:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  color: #D5D5D6;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.weui_dialog_confirm .weui_dialog_ft a {
  position: relative;
}
.weui_dialog_confirm .weui_dialog_ft a:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-left: 1px solid #D5D5D6;
  color: #D5D5D6;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
.weui_dialog_confirm .weui_dialog_ft a:first-child:after {
  display: none;
}
.weui_btn_dialog.default {
  color: #353535;
}
.weui_btn_dialog.primary {
  color: #0BB20C;
}
@media screen and (min-width: 1024px) {
  .weui_dialog {
    width: 35%;
  }
}