@charset 'utf-8';
@import url(baseColor-1.1.1.css);
@import url(common-1.1.1.css);
html,body{font-size: 62.5%;}
a img,fieldset{border:0;}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
.fl{float:left;}
.fr{float:right;}
.clear {font-size: 0;height: 0;line-height: 0;overflow: hidden;clear: both;}
@mixin inner-padding{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
@mixin middle-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
@mixin webkit-box{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin flex-box($num){
	-webkit-box-flex: $num;
	-webkit-flex: $num;
	-ms-flex: $num;
	flex: $num;
}
.page, body{background-color:#efeff4;}
.myNews_content{
	box-sizing: border-box;height: 100%;overflow: auto;
	padding-bottom: 3rem; -webkit-overflow-scrolling: touch;
}
.myNews_tabs{background:#FFFFFF;-webkit-columns: 4;-webkit-column-gap: 0; width:100%; position:absolute; top:0; left:0; z-index: 1;
	box-shadow: 0 0 10px 0 rgba(155,143,143,0.3);
	-webkit-box-shadow: 0 0 10px 0 rgba(155,143,143,0.3);
	-moz-box-shadow: 0 0 10px 0 rgba(155,143,143,0.3);
	a{display:block; text-align: center;padding:1.2rem 0;
		span{display:inline-block; font-size: 1.4rem; color:#666666; padding:.4rem; font-weight: 400; border-bottom:2px solid #FFFFFF;}
	}
}
.myNews_list{padding-top: 5rem;}
.mnl_box{padding:3%; display:none;
	ul{width:100%; position:relative;
		li{margin-bottom: 3%; background:#FFFFFF; border-radius: .4rem; border-top: .4rem solid #7dcae6;
			a{display:block; width:100%; height:100%;}
		}
		li.haveRead{border-top: .4rem solid #cccccc;}
	}
	.news_info{@include inner-padding; padding:0 3%;}
	.news_con{font-size: 1.4rem; color:#333333; margin: 3% auto 2% auto; line-height: 1.7;}
	.news_time{font-size: 1.2rem; color:#999999;}
	.news_type{margin:2% auto;
		p{font-size:1.2rem; color:#666666; height:2rem; line-height: 2rem;}
		span{display:block; font-size: 1.2rem; height:1.8rem; line-height: 1.8rem; color:#eea838; text-align: center; padding:0 .6rem; border:1px solid #eea838; border-radius: .4rem;}
	}
	.viewNow{border-top: 1px solid #cccccc; @include inner-padding; padding:3%; @include middle-box;
		p{font-size: 1.2rem; color:#333333; @include flex-box(1);}
		span{display:block;}
		span:after{
			content: " ";
			display: inline-block;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			height: 6px;
			width: 6px;
			border-width: 2px 2px 0 0;
			border-color: #c8c8cd;
			border-style: solid;
			position: relative;
			top: 0px;
			margin-left: .3em;
		}
	}
	.haveRead .news_con{color:#CCCCCC;}
	.haveRead .news_time{color:#CCCCCC;}
	.haveRead .news_type{p{color:#CCCCCC;}}
	.haveRead .viewNow{p{color:#CCCCCC;}}

}


@media screen and (max-width:320px){
	
}