			*{
				padding: 0;
				margin: 0;
				font-family: "microsoft yahei";
			}
			a{
				list-style: none;
				text-decoration:none ;
			}
			#root{
				width:10.0rem ;
				height:17.95rem ;
				background-color:#f0b51b ;
			}			
			/*  覆盖层  start   */
			#cover {
				position: fixed;
				top: 0;
				left: 0;
				width: 10.0rem;
				height: 100%;
				background: rgba(0, 0, 0, 0.8);
				display: none;
				z-index: 1;
			}
			.popup{
				position: fixed;
				top:2.6875rem;
				left:1.640625rem ;
				width: 6.65625rem;
				height:9.375rem ;
				display: none;
				z-index: 2;
			}
			.recBox{
				width:6.65625rem ;
				height:6.96875rem ;
				background-color:#fff ;
				border-radius: 0.078125rem;
				overflow: hidden;
			}
			.p_icon{
				width:5.515625rem ;
				height:3.09375rem;
				margin-left: 0.546875rem;
				float: left;
				background:url(http://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_exchangeSuccess20161116.png) no-repeat ;
				background-size:100% 100% ;
			}
			.bge9e9e9{
				margin:0.125rem ;
				height:3.359375rem ;
				background-color:#e9e9e9;
			}
			.fs27{
				font-size: 14px;
				font-weight: bold;
				text-align: center;
				margin: 0.390625rem 0 0.3125rem;
			}
			[data-dpr="2"] .fs27 {
				font-size: 28px;
			}
			[data-dpr="3"] .fs27{
				font-size: 42px;
			}
			.account{
				font-size:11px;
				color: #666;
				text-align: center;
			}
			[data-dpr="2"] .account {
				font-size: 22px;
			}
			[data-dpr="3"] .account{
				font-size: 33px;
			}
			.account a{
				color: #f44975;
			}
			.investment{
				font-size:12px ;
				color: #fff;
				width:5.078125rem ;
				height: 0.875rem;
				text-align: center;
				line-height: 0.875rem;
				margin: 0.390625rem auto;
				background-color:#f44975 ;
				border-radius:0.4375rem ;
			}
			[data-dpr="2"] .investment {
				font-size: 24px;
			}
			[data-dpr="3"] .investment{
				font-size: 36px;
			}
			
			.w_1line{
				width:2px;
				height: 1.484375rem;
				background-color:#fff;
				margin:0 auto ;
			}
			.delete{
				width: 0.875rem;
				height: 0.875rem;
				margin: 0 auto;
				background:url(http://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_delete20161116.png) no-repeat ;
				background-size:100% 100% ;
			}
			.head{
				
			}
			.head img{
				width:10.0rem ;
				height:6.171875rem ;
			}
			.main{
				width:10.0rem ;
				height:11.578125rem ;
				overflow: hidden;
			}
			.w_535{
				width:8.359375rem ;
				height:9.375rem ;
				margin:0.78125rem auto ;
			}
			.logLine{
				font-size: 10px;
				color: #bd2929;
				float: right;
				margin-right:0.3125rem ;
			}
			[data-dpr="2"] .logLine {
				font-size: 20px;
			}
			[data-dpr="3"] .logLine{
				font-size: 30px;
			}
			.clearF{
				clear: both;
			}
			.logLine span a,.logLine span{
				color: #fff;
			}
			.logLine span{
				font-size: 12px;				
			}
			[data-dpr="2"] .logLine span {
				font-size: 24px;
			}
			[data-dpr="3"] .logLine span{
				font-size: 36px;
			}
			.inputBox{
				width:8.28125rem ;
				height:1.09375rem;
				background-color:#FFFFFF ;
				font-size: 14px;
				color: #fff;
				border:0.015625rem #de3232 solid;
				border-radius:0.15625rem ;
				text-align: center;
				line-height:1.09375rem;
			}
			[data-dpr="2"] .inputBox{
				font-size: 28px;
			}
			[data-dpr="3"] .inputBox{
				font-size: 42px;
			}
			.margBox{
				margin:0.59375rem 0 0.1875rem 0 ;
			}			
			.inputBox input{
				width:7.8125rem ;
				height:1rem ;
				text-align: center;
				margin:0 auto;
				border: 0px;
				outline:0 ;
				font-size: 14px;
			}
			[data-dpr="2"] .inputBox input{
				font-size: 28px;
			}
			[data-dpr="3"] .inputBox input{
				font-size: 42px;
			}
			.redBox{
				background-color:#de3232 ;
				margin-bottom: 0.625rem;
			}
			.prompt{
				color: #bd2929;
				font-size: 12px;
				text-align: center;
				margin-bottom: 0.703125rem;
			}
			[data-dpr="2"] .prompt{
				font-size: 24px;
			}
			[data-dpr="3"] .prompt{
				font-size: 36px;
			}
			.icon{
				background:url(http://images-wap.oss-cn-hangzhou.aliyuncs.com/wap_pointLine20161116.png) no-repeat;
				background-size:7.71875rem 0.15625rem ;
				background-position: 0.3125rem;
			}
			.textDescription{
				text-align: left;
				color: #bc2121;
				font-size: 10px;
				padding: 0 0.234375rem;
				line-height: 0.546875rem;
			}
			[data-dpr="2"] .textDescription{
				font-size: 20px;
			}
			[data-dpr="3"] .textDescription{
				font-size: 30px;
			}
			.textDescription p{
				margin-top:0.3125rem ;
			}