* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC";
}

html * {
	outline: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*-webkit-tap-highlight-color: transparent;*/
}

ul,
ol,
li {
	list-style: none;
}

i {
	font-style: normal;
	display: inline-block;
}

a {
	text-decoration: none;
	display: inline-block;
}

span {
	display: inline-block;
}


/*字体大小 start*/

.arial {
	font-family: arial;
}

.font_12 {
	font-size: 12px;
}

.font_13 {
	font-size: 13px;
}

.font_14 {
	font-size: 14px;
}

.font_15 {
	font-size: 15px;
}

.font_16 {
	font-size: 16px;
}

.font_18 {
	font-size: 18px;
}

.font_20 {
	font-size: 20px;
}

.font_22 {
	font-size: 22px;
}

.font_24 {
	font-size: 24px;
}

.font_26 {
	font-size: 26px;
}

.font_28 {
	font-size: 28px;
}

.font_30 {
	font-size: 30px;
}

.font_32 {
	font-size: 32px;
}

.font_36 {
	font-size: 36px;
}

.font_40 {
	font-size: 40px;
}

.font_42 {
	font-size: 42px;
}

.font_48 {
	font-size: 48px;
}

.font_50 {
	font-size: 50px;
}

.font_70 {
	font-size: 70px;
}


/*字体大小 end*/


/*字体颜色 start*/

.color_000 {
	color: #000
}

.color_fff {
	color: #fff
}

.color_333 {
	color: #333
}

.color_666 {
	color: #666;
}

.color_999 {
	color: #999;
}

.color_a9a9a9 {
	color: #a9a9a9;
}

.color_f44975 {
	color: #f44975;
}

.color_1c7ebe {
	color: #1c7ebe;
}

.color_fbb03b {
	color: #fbb03b;
}


/*字体颜色 end*/


/*背景颜色 start*/

.bgColor_fff {
	background-color: #fff;
}

.bgColor_f44975 {
	background-color: #f44975;
}

.bgColor_fbb03b {
	background-color: #fbb03b;
}

.bgColor_7fcbe5 {
	background-color: #7fcbe5;
}


/*背景颜色 end*/

.relative {
	position: relative;
}

.w_900 {
	width: 900px;
}

.w_1200 {
	width: 1200px;
}

.margin_center {
	margin: 0 auto;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.overflow {
	overflow: hidden;
}

.inline_block {
	display: inline-block;
}

._block {
	display: block;
}

.none {
	display: none;
}

.text_center {
	text-align: center;
}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}

.line_height {
	line-height: 25px;
}

.letter_space {
	letter-spacing: 1px;
}

.under_line {
	height: 1px;
	background-color: #eee;
}

.dotted_line {
	border: 1px dotted #eee;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.clear {
	clear: both;
}

.rootNode {
	width: 100%;
	/*max-width: 1920px;*/
	min-width: 900px;
	margin: 0 auto;
	background-color: #ffc106;
}

.headBanner {
	height: 1132px;
	background: url(https://images-web.newnewbank.com/pc-headBanner20171026.png) center top;
}

.onePage {
	margin-top: 30px;
}

.showBox {
	width: 750px;
	height: 152px;
	background-color: #524499;
	border-radius: 76px;
}

.color_fff001 {
	color: #fff001;
}

.color_faf817 {
	color: #faf817;
}

.color_524499 {
	color: #524499;
}

.color_514398 {
	color: #514398;
}

.w-42 {
	width: 42%;
}

.eleLine {
	width: 1px;
	border-left: 1px dashed #fec107;
	position: absolute;
	top: 20px;
	left: 42%;
	height: 75%;
	line-height: 1px;
}

.flyBg {
	width: 761px;
	height: 546px;
	background: url(https://images-web.newnewbank.com/pc-star20171026.png) no-repeat;
	margin-top: 140px;
}

.circle {
	width: 168px;
	height: 168px;
	border-radius: 100%;
	/*border: 1px solid red;*/
	box-shadow: 0px -4px 0px 5px #000;
	background-color: #514398;
}

.upPage {
	width: 168px;
	height: 84px;
	line-height: 100px;
	border-radius: 84px 84px 0 0;
	background-color: #fff001;
}

.w-230 {
	width: 230px;
	height: 50px;
	line-height: 50px;
	background-color: #fd6631;
	color: #faf817;
	border: 2px solid #000;
	margin-top: -30px;
	margin-left: -30px;
}

.getRed {
	border-radius: 10px;
	background-color: #fff001;
	padding: 5px 10px;
	color: #524499;
}

.pos-1 {
	position: absolute;
	left: 0;
	top: 0;
}

.pos-2 {
	position: absolute;
	left: 300px;
	top: -60px;
}

.pos-3 {
	position: absolute;
	right: -50px;
	top: 0;
}

.pos-4 {
	position: absolute;
	left: 100px;
	top: 240px;
}

.pos-5 {
	position: absolute;
	left: 500px;
	top: 240px;
}

.investBtn i,
.investBtn:before {
	width: 230px;
	height: 60px;
	border-radius: 30px;
	border: 2px solid #1301a5;
	display: block;
}

.investBtn i {
	position: relative;
	line-height: 60px;
	background-color: #ffe431;
	z-index: 1;
}

.investBtn:before {
	content: '';
	position: absolute;
	top: 12px;
	background-color: #fff;
	z-index: 0;
}

.twoPage {
	height: 270px;
	background: url(https://images-web.newnewbank.com/pc-footer20171026.png) center bottom;
}

.erCode {
	position: absolute;
	top: 720px;
	left: -243px;
	width: 191px;
	height: 251px;
	background: url(https://images-web.newnewbank.com/pc-erCode20171026.png) no-repeat;
}
.ruleBox{
	padding: 40px 0 45px 40px;
	box-sizing: border-box;
	border:6px solid #9690c0 ;
	background-color: #524499;
	line-height: 35px;
}
.color_fd6631{
	color: #fd6631;
}
.color_fefefe{
	color: #fefefe;
}
