.btn_mainColor { background-color: #f44975; }

.btn_gray { background-color: #CCCCCC; }

.btn_blue{background-color:#7ccae5;}

.mainTextColor { color: #f44975; }

.text_mainColor{color:#f44975;}

.text_gray{color:#CCCCCC;}

.text_blue{color:#8dd1e9;}

.mainBgColor { background-color: #f44975; }

.index .col01 strong { color: #f44975; }

.index .col01 span { color: #f44975; }

.index .col03 p.goumai { background: #f44975; }

.coupons .coupon_tabs a.cur span { color: #f44975; border-bottom: 2px solid #f44975; }

.recharge .weui_navbar_item.weui_bar_item_on { color: #f44975; border-bottom: 2px solid #f44975; }

.manageAddress .addressList .setDefault.checked .weui_icon_success:before { color: #f44975; }

.manageAddress .addressList .setDefault.checked a { color: #f44975; }

.myNews .myNews_tabs a.cur span { color: #f44975; border-bottom: 2px solid #f44975; }

.investRecord .record_tabs a.cur { color: #f44975; border-bottom: 2px solid #f44975; }

.cashDrawalProgress .cashBox04 a { border: 1px solid #f44975; }

.dailySurprise .signIn_btn_box strong { border-bottom: 1px solid #f44975; }

.sid_box li span { color: #f44975; }

.productDetails .pd_nav a.cur { color: #f44975; border-bottom: 1px solid #f44975; }

.productList .pro_nav_list li span { color: #f44975; }

.productList .pro_list .pro_btn p.goumai { background: #f44975; }

.gift .gift_type a.cur span { color: #f44975; border-bottom: 2px solid #f44975; }

.editorAddress .weui_switch:checked { border-color: #f44975; background-color: #f44975; }

