@import url(baseColor-1.1.1.css);
@import url(common-1.1.1.css);
.page, body { background-color: #efeff4; }
input[type="checkbox"]{-webkit-appearance: checkbox;}
.weui_label { width: 4em; color: #666666; }

.weui_cells { margin-top: 0; line-height: 2.2; }

.weui_cell { padding: 15px; }

.weui_select { padding-left: 0; height: 34px; }

.weui_cells_form .select_controls .weui_cell_ft { font-size: 14px; color: #CCCCCC; }

.pleaseChoose { position: absolute; width: 20%; right: 5%; top: 25%; }

.select_controls .weui_cell_ft:after { content: " "; display: inline-block; -webkit-transform: rotate(45deg); transform: rotate(45deg); height: 6px; width: 6px; border-width: 2px 2px 0 0; border-color: #c8c8cd; border-style: solid; position: relative; top: -2px; top: -1px; margin-left: .3em; }

.bindCard_btn { padding: 0 15px; margin-top: 2em; text-align: center; }

.weui_cell .ipt_text { padding-left: 0; }

.weui_icon_clear:before { font-size: 21px; margin-left: .2em; margin-right: .2em; }

.open_quick_payment{line-height:24px; padding: 0 20px; margin: 1em 0 .5em 0;}
.open_quick_payment b{font-weight:normal; display:block;color: #666666; font-size: 12px;}
.open_quick_payment b input{ font-weight: normal;font-size:14px; margin: 0 4px 0 0;padding: 0;color: #9b9b9b;outline: 0;vertical-align: middle;}
.open_quick_payment strong{font-weight:normal; font-size:13px; color:#999;}
.login_vote {margin: 10px 0;overflow: hidden;font-size: 12px;padding: 0 20px; color:#9b9b9b;}
.login_vote input{ font-weight: normal;font-size:14px; margin: 0 4px 0 0;padding: 0;color: #9b9b9b;outline: 0;vertical-align: middle;}
.login_vote a{color:#9b9b9b;}
.rechargeTip{ padding: 0 20px; margin-top: 10px;}
.rechargeTip p{color: #999999; font-size: 13px; font-weight: 400; line-height: 24px;}
.rechargeTip p span{color:#f44975;}

@media screen and (max-width: 320px) { .weui_cells { font-size: 16px; } }

